Repository vancura/blit-tech: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck', biome format --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore(zed): remove Zed settings
  .zed/prompt
  .zed/settings.json
Due: biome format --write --no-errors-on-unmatched --files-ignore-unknown=true

fix: fix the typo
  .claude/skills/review/SKILL.md
Due: prettier --write

fix(renderer): replace Unicode punctuation in WGSL shader and fix region labels
  src/render/PrimitivePipeline.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

fix(renderer): clone displaySize on construction and fix error message
  src/render/Renderer.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

test(assets): strengthen BitmapFont cache eviction and texture path assertions
  src/assets/BitmapFont.test.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

fix(scripts): correct grammar in bmfont converter error messages
  scripts/convert-bmfont.mjs
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix

fix(api): fix string quote style and align region labels in BTAPI
  src/core/BTAPI.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

docs(core): fix grammatical error in GameLoop test description
  src/core/GameLoop.test.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

test(assets): tighten MOCK_FONT_DATA type in BitmapFont tests
  src/assets/BitmapFont.test.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

test(assets): extract createStubImage helper in BitmapFont tests
  src/assets/BitmapFont.test.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

fix: clean up docs
  README.md
  docs/bitmap-fonts.md
  docs/developer-experience-guide.md
  docs/performance-best-practices.md
  docs/testing-guide.md
  docs/testing.md
Due: prettier --write

docs: update preflight and testing documentation
  .claude/skills/deep-review/SKILL.md
  .claude/skills/preflight/SKILL.md
  .claude/skills/test/SKILL.md
Due: prettier --write

docs: update CLAUDE.md with new files and clarify testing commands
  CLAUDE.md
Due: prettier --write

docs: update README and developer experience guide; remove testing guide
  README.md
  docs/developer-experience-guide.md
  docs/testing-guide.md
  docs/testing.md
Due: prettier --write

docs: streamline README
  README.md
Due: prettier --write

refactor: enhance documentation and improve test coverage
  src/BlitTech.test.ts
  src/BlitTech.ts
  src/assets/AssetLoader.test.ts
  src/assets/AssetLoader.ts
  src/core/BTAPI.ts
  src/core/IBlitTechDemo.ts
  src/utils/FrameCapture.ts
  tests/visual/camera.spec.ts
  tests/visual/coverage-fixture.ts
  tests/visual/fixtures/camera.html
  tests/visual/fixtures/fonts.html
  tests/visual/fixtures/mixed.html
  tests/visual/fixtures/primitives.html
  tests/visual/fixtures/sprites.html
  tests/visual/fonts.spec.ts
  tests/visual/mixed.spec.ts
  tests/visual/primitives.spec.ts
  tests/visual/sprites.spec.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

docs(assets): improve AssetLoader documentation and use nullish coalescing
  src/assets/AssetLoader.test.ts
  src/assets/AssetLoader.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

feat(blit-tech): add vitest benchmarking infrastructure and reorganize demo files
  .gitignore
  package.json
  src/utils/Vector2i.bench.ts
  vitest.config.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck', biome format --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(blit-tech): extend knip configuration to include benchmark files
  knip.json
Due: biome format --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(assets): add BitmapFont benchmark suite
  src/assets/BitmapFont.bench.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

refactor(assets): rename internal type and improve measure cache access
  src/assets/BitmapFont.bench.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

refactor(assets): organize BitmapFont benchmark with region comments
  src/assets/BitmapFont.bench.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

refactor(utils): structure Vector2i benchmarks with region comments
  src/utils/Vector2i.bench.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

refactor(utils): structure Color32 benchmarks with region comments
  src/utils/Color32.bench.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

refactor(utils): structure Rect2i benchmarks with region comments
  src/utils/Rect2i.bench.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

feat(blit-tech): add Playwright performance fixture for GPU frame-time benchmarks
  eslint.config.js
  package.json
  playwright.perf.config.ts
  tests/perf/perf.spec.ts
  tests/visual/fixtures/perf-common.js
  tests/visual/fixtures/perf-fonts.html
  tests/visual/fixtures/perf-mixed.html
  tests/visual/fixtures/perf-primitives.html
  tests/visual/fixtures/perf-sprites.html
  tsconfig.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck', biome format --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(blit-tech): improve Playwright GPU perf fixture and add canvas error handling
  eslint.config.js
  playwright.perf.config.ts
  tests/visual/fixtures/perf-common.js
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

feat(blit-tech): extend ESLint and TypeScript for visual test fixtures
  eslint.config.js
  tests/perf/perf.spec.ts
  tests/visual/coverage-fixture.ts
  tests/visual/fixtures/vite.config.ts
  tsconfig.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck', biome format --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(ci): add benchmark job with PR comparison and regression detection
  .github/workflows/ci.yml
  scripts/compare-benchmarks.mjs
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, prettier --write

feat(ci): improve benchmark job concurrency and validation
  .github/workflows/ci.yml
  scripts/compare-benchmarks.mjs
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, prettier --write

feat(ci): enhance benchmark comparison script with detailed utilities
  scripts/compare-benchmarks.mjs
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix

feat(ci): update benchmark job for PR label triggers
  .github/workflows/ci.yml
Due: prettier --write

feat(ci): enhance benchmark workflow with validation and actor filtering
  .github/workflows/ci.yml
Due: prettier --write

feat(ci): refine benchmark job concurrency and artifact handling
  .github/workflows/ci.yml
Due: prettier --write

feat(ci): enhance workflow with label-based conditional runs
  .github/workflows/ci.yml
Due: prettier --write

feat(ci): add Tier 2 GPU performance benchmarks to workflow
  .github/workflows/ci.yml
  scripts/compare-tier-1-benchmarks.mjs
  scripts/compare-tier-2-perf-results.mjs
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, prettier --write

fix(ci): correct Tier 2 benchmark artifact path and regression calculation
  .github/workflows/ci.yml
  scripts/compare-tier-2-perf-results.mjs
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, prettier --write

fix(blit-tech): enhance scenario validation and report formatting
  scripts/compare-tier-2-perf-results.mjs
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix

fix(blit-tech): improve argument validation in comparison script
  scripts/compare-tier-2-perf-results.mjs
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix

fix(ci): handle missing performance baseline in PR comparison
  .github/workflows/ci.yml
Due: prettier --write

Path conditions:
  biome check --write --no-errors-on-unmatched --files-ignore-unknown=true: (any of: *.{ts,tsx}) or (any of: *.{js,cjs,mjs})
  eslint --fix: (any of: *.{ts,tsx}) or (any of: *.{js,cjs,mjs})
  bash -c 'pnpm typecheck': any of: *.{ts,tsx}
  biome format --write --no-errors-on-unmatched --files-ignore-unknown=true: any of: *.{json,jsonc,css}
  prettier --write: any of: *.{md,mdx,yml,yaml}
