Repository vancura/blit-tech: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck', biome format --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

refactor(tools): enhance error handling and validation in convert-bmfont script
  tools/convert-bmfont.mjs
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix

refactor(electron): return mainWindow instance in createWindow function
  electron/main.cjs
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix

refactor(tools): organize convert-bmfont script with region comments
  tools/convert-bmfont.mjs
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix

refactor(tools): enhance glyph data parsing in convert-bmfont script
  tools/convert-bmfont.mjs
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix

refactor(utils): organize utility classes with region comments
  src/utils/Color32.ts
  src/utils/Rect2i.ts
  src/utils/Vector2i.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

refactor(assets): improve AssetLoader structure and caching mechanism
  src/assets/AssetLoader.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

refactor(utils): enhance Color32 class with performance optimizations and new utility functions
  src/utils/Color32.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

refactor(utils): enhance Rect2i class with performance optimizations and new utility functions
  src/utils/Rect2i.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

refactor(utils): enhance Vector2i class with performance optimizations and new utility functions
  src/utils/Vector2i.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

refactor(assets): update documentation for clear cache method
  src/assets/AssetLoader.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

chore(infra): add Zed configuration
  .rules
  .zed/prompt
  .zed/settings.json
  cspell.json
Due: biome format --write --no-errors-on-unmatched --files-ignore-unknown=true

chore(infra): improve VSCode settings
  .claude/settings.local.json
  .gitignore
  .npmignore
  .vscode/extensions.json
  .vscode/settings.json
Due: biome format --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(core): enhance BTAPI class with improved documentation and organization
  src/core/BTAPI.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

refactor(core): enhance IBlitTechGame interface with comprehensive documentation
  src/core/IBlitTechGame.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

refactor(core): enhance documentation and organization in BlitTech and Renderer modules
  src/render/Renderer.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

refactor(core): improve documentation and organization in BlitTech module
  src/BlitTech.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

refactor(assets): enhance documentation and organization in SpriteSheet class
  src/assets/SpriteSheet.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

chore(assets): remove obsolete comment
  src/assets/SpriteSheet.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

refactor(assets): enhance SpriteSheet class with ImageBitmap support
  src/assets/SpriteSheet.ts
  src/core/IBlitTechGame.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

refactor(assets): enhance BitmapFont with text size interface and performance optimizations
  src/BlitTech.ts
  src/assets/BitmapFont.ts
  src/render/Renderer.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

Path conditions:
  biome check --write --no-errors-on-unmatched --files-ignore-unknown=true: (any of: *.{ts,tsx}) or (any of: *.{js,cjs,mjs})
  eslint --fix: (any of: *.{ts,tsx}) or (any of: *.{js,cjs,mjs})
  bash -c 'pnpm typecheck': any of: *.{ts,tsx}
  biome format --write --no-errors-on-unmatched --files-ignore-unknown=true: any of: *.{json,jsonc,css}
  prettier --write: any of: *.{md,mdx,yml,yaml}
