Repository vancura/blit-tech: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck', biome format --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "biome check --write --no-errors-on-unmatched --files-ignore-unknown=true",
    "eslint --fix",
    "bash -c 'pnpm typecheck'"
  ],
  "*.{js,cjs,mjs}": ["biome check --write --no-errors-on-unmatched --files-ignore-unknown=true", "eslint --fix"],
  "*.{json,jsonc,css}": ["biome format --write --no-errors-on-unmatched --files-ignore-unknown=true"],
  "*.{md,mdx,yml,yaml}": ["prettier --write"]
}

chore: simplify code
  electron/main.cjs
  examples/_partials/plausible-analytics.hbs
  src/BlitTech.ts
  src/render/Renderer.ts
  src/utils/Color32.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

chore: change the property readonly flag
  src/assets/BitmapFont.ts
  src/assets/SpriteSheet.ts
  src/render/Renderer.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

docs: update documentation
  examples/sprites.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

chore(deps): upgrade dependencies
  package.json
  pnpm-lock.yaml
Due: biome format --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore(release): 0.1.0
  .changeset/petite-areas-stick.md
  .changeset/tricky-pianos-hammer.md
  CHANGELOG.md
  package.json
Due: biome format --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore(infra): update Claude settings
  .claude/settings.local.json
Due: biome format --write --no-errors-on-unmatched --files-ignore-unknown=true

chore(infra): update spellcheck
  .vscode/settings.json
  cspell.json
Due: biome format --write --no-errors-on-unmatched --files-ignore-unknown=true

chore(infra): fix typos in package.json
  package.json
Due: biome format --write --no-errors-on-unmatched --files-ignore-unknown=true

chore(infra): fix the definition filename
  vite.config.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

chore(infra): fix Biome/Zed formatting
  .zed/settings.json
Due: biome format --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(utils): add bootstrap utilities for streamlined game initialization
  .changeset/bootstrap-utilities.md
  examples/animation.ts
  examples/basics.ts
  examples/camera.ts
  examples/fonts.ts
  examples/patterns.ts
  examples/primitives.ts
  examples/sprite-effects.ts
  examples/sprites.ts
  src/BlitTech.ts
  src/utils/Bootstrap.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck', prettier --write

docs: update game initialization instructions and add bootstrap utilities documentation
  README.md
Due: prettier --write

refactor(utils): update displayError function for security and clarity
  src/utils/Bootstrap.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

refactor(utils): improve error message formatting and handling
  src/utils/Bootstrap.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

refactor(utils): enhance error handling and message structure
  src/utils/Bootstrap.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

chore(infra): update spellcheck
  cspell.json
Due: biome format --write --no-errors-on-unmatched --files-ignore-unknown=true

chore: remove obsolete code inspection helpers
  examples/animation.ts
  examples/basics.ts
  examples/camera.ts
  examples/fonts.ts
  examples/patterns.ts
  examples/primitives.ts
  examples/sprite-effects.ts
  examples/sprites.ts
  scripts/convert-bmfont.mjs
  src/BlitTech.ts
  src/assets/BitmapFont.ts
  src/assets/SpriteSheet.ts
  src/core/BTAPI.ts
  src/core/IBlitTechGame.ts
  src/render/Renderer.ts
  src/utils/Bootstrap.ts
  src/utils/Color32.ts
  src/utils/Rect2i.ts
  src/utils/Vector2i.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

chore(sync-rules): cleanup
  scripts/sync-rules.mjs
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix

feat(deploy): prepare site for ambilab.com/blit-tech deployment
  .github/workflows/ci.yml
  index.html
  package.json
  vite.config.ts
  wrangler.jsonc
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck', biome format --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore(ci): add PR quality gates and local development safeguards
  .changeset/ci-dx-improvements.md
  .github/markdown-link-check.json
  .github/workflows/changeset-check.yml
  .github/workflows/ci.yml
  .github/workflows/pr-checks.yml
  .husky/pre-push
  .lintstagedrc.json
  cspell.json
  package.json
  pnpm-lock.yaml
Due: biome format --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore(infra): update .gitignore
  .gitignore
Due: none

chore(changelog): update changelog
  CHANGELOG.md
Due: prettier --write

ci(husky): add spellcheck to pre-push hook
  .husky/pre-push
Due: none

chore(spellcheck): add mdx files to spellcheck pattern
  package.json
Due: biome format --write --no-errors-on-unmatched --files-ignore-unknown=true

ci(pr-checks): enforce documentation link checks as quality gate
  .github/workflows/pr-checks.yml
Due: prettier --write

ci(husky): add shebang to git hooks for portability
  .husky/pre-commit
  .husky/pre-push
Due: none

fix(ci): resolve false positives in markdown link checker
  .github/markdown-link-check.json
Due: biome format --write --no-errors-on-unmatched --files-ignore-unknown=true
