Repository vancura/blit-tech: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck', biome format --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "biome check --write --no-errors-on-unmatched --files-ignore-unknown=true",
    "eslint --fix",
    "bash -c 'pnpm typecheck'"
  ],
  "*.{js,cjs,mjs}": ["biome check --write --no-errors-on-unmatched --files-ignore-unknown=true", "eslint --fix"],
  "*.{json,jsonc,css}": ["biome format --write --no-errors-on-unmatched --files-ignore-unknown=true"],
  "*.{md,mdx,yml,yaml}": ["prettier --write"]
}

docs(assets): fix the documentation
  src/assets/BitmapFont.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

feat(examples): add new animation and sprite effects demos
  .claude/settings.local.json
  README.md
  docs/performance-best-practices.md
  examples/_config/contexts.ts
  examples/animation.html
  examples/animation.ts
  examples/camera.ts
  examples/index.html
  examples/patterns.ts
  examples/sprite-effects.html
  examples/sprite-effects.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck', biome format --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

docs: update markdown
  docs/performance-best-practices.md
Due: prettier --write

refactor(animation): improve code clarity and reset logic
  examples/animation.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

refactor(animation): enhance error handling and code clarity
  examples/animation.ts
  examples/sprite-effects.ts
  examples/sprites.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

refactor(animation): refine error handling
  examples/animation.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

refactor(animation): remove unnecessary reset logic in animation completion
  examples/animation.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

refactor(examples): improve canvas element validation
  examples/animation.ts
  examples/camera.ts
  examples/fonts.ts
  examples/patterns.ts
  examples/primitives.ts
  examples/sprite-effects.ts
  examples/sprites.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

refactor(examples): enhance documentation
  examples/animation.ts
  examples/basics.ts
  examples/camera.ts
  examples/fonts.ts
  examples/patterns.ts
  examples/primitives.ts
  examples/sprite-effects.ts
  examples/sprites.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

refactor(examples): enhance documentation and improve structure
  README.md
  examples/animation.ts
  examples/basics.ts
  examples/camera.ts
  examples/fonts.ts
  examples/patterns.ts
  examples/primitives.ts
  examples/sprite-effects.ts
  examples/sprites.ts
  src/utils/Color32.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck', prettier --write

refactor(examples): improve canvas element retrieval logic
  examples/basics.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

feat(rules): add sync-rules script to manage AI assistant rules
  package.json
  scripts/sync-rules.mjs
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, biome format --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(docs): correct spelling of "Blit-Tech" in performance best practices
  docs/performance-best-practices.md
Due: prettier --write

chore: remove cspell.json
  cspell.json
Due: biome format --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(config): simplify linter rules in biome.json and eslint.config.js
  biome.json
  eslint.config.js
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, biome format --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(rules): add project rules and guidelines
  .clauderc
Due: none

chore: update scripts/sync-rules.mjs
  scripts/sync-rules.mjs
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix

fix(sync-rules): improve XML generation and error handling in writeRuleFile function
  scripts/sync-rules.mjs
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix

docs: update logo
  assets/logo.png
Due: none

docs: update README.md
  README.md
Due: prettier --write
