Repository vancura/blit-tech: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write, eslint --fix, bash -c 'pnpm typecheck', biome format --write

chore: update documentation and configuration for Biome integration
  .npmignore
  PHASE_3.md
  README.md
Due: none

chore: improve Biome lint-staged configuration
  .lintstagedrc.json
  biome.json
Due: biome format --write

chore: update format:check script in package.json
  package.json
Due: biome format --write

Add prettier to format markdown and yaml files
  .lintstagedrc.json
  package.json
  pnpm-lock.yaml
Due: biome format --write

Checkpoint before follow-up message
  .prettierrc
  PHASE_3.md
Due: none

chore: reintroduce Prettier for Markdown and YAML formatting
  .npmignore
  .prettierignore
  .prettierrc
  eslint.config.js
  package.json
  pnpm-lock.yaml
  prettier.config.js
Due: biome check --write, eslint --fix, biome format --write

docs: enhance documentation and formatting commands
  .changeset/README.md
  PHASE_3.md
  README.md
Due: none

refactor(convert-bmfont): standardize string quotes and improve code readability
  tools/convert-bmfont.mjs
Due: biome check --write, eslint --fix

fix(convert-bmfont): refactor character parsing
  tools/convert-bmfont.mjs
Due: biome check --write, eslint --fix

refactor(convert-bmfont): enhance XML parsing and output handling
  tools/convert-bmfont.mjs
Due: biome check --write, eslint --fix

chore(biome.json): update formatting options and add linter rules
  biome.json
Due: biome format --write

refactor: standardize HTML doctype and improve formatting across examples
  README.md
  examples/camera.html
  examples/examples-index.html
  examples/font.html
  examples/index.html
  examples/patterns.html
  examples/primitives.html
  examples/sprite.html
  index.html
Due: none

chore: update Prettier configuration to include HTML formatting
  package.json
  prettier.config.js
Due: biome check --write, eslint --fix, biome format --write

chore: add Dependabot configuration for automated dependency updates
  .github/dependabot.yml
Due: none

style: fix Prettier formatting in dependabot.yml
  .github/dependabot.yml
Due: none

Path conditions:
  biome check --write: (any of: *.{ts,tsx}) or (any of: *.{js,cjs,mjs})
  eslint --fix: (any of: *.{ts,tsx}) or (any of: *.{js,cjs,mjs})
  bash -c 'pnpm typecheck': any of: *.{ts,tsx}
  biome format --write: any of: *.{json,jsonc,css}
