Repository vancura/blit-tech: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck', biome format --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "biome check --write --no-errors-on-unmatched --files-ignore-unknown=true",
    "eslint --fix",
    "bash -c 'pnpm typecheck'"
  ],
  "*.{js,cjs,mjs}": ["biome check --write --no-errors-on-unmatched --files-ignore-unknown=true", "eslint --fix"],
  "*.{json,jsonc,css}": ["biome format --write --no-errors-on-unmatched --files-ignore-unknown=true"],
  "*.{md,mdx,yml,yaml}": ["prettier --write"]
}

style: fix Prettier formatting in dependabot.yml
  .github/dependabot.yml
Due: prettier --write

docs: add the README logo
  README.md
  assets/logo.png
Due: prettier --write

docs: update README shields
  README.md
Due: prettier --write

chore: update dependencies
  package.json
  pnpm-lock.yaml
Due: biome format --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore: remove deprecated documents
  .npmignore
  BITMAP_FONTS.md
  CHANGELOGS_HOWTO.md
  PHASE_2.md
  PHASE_3.md
Due: prettier --write

docs: update README.md
  README.md
Due: prettier --write

chore: remove deprecated documents
  DEPLOYMENT.md
Due: prettier --write

chore: remove obsolete .claude directory Signed-off-by: Vaclav Vancura <commit@vancura.dev>
  .claude/settings.local.json
Due: biome format --write --no-errors-on-unmatched --files-ignore-unknown=true

chore: remove obsolete .claude directory Signed-off-by: Václav Vančura <commit@vancura.dev>
  .claude/settings.local.json
Due: biome format --write --no-errors-on-unmatched --files-ignore-unknown=true

feat: add font attribution note for PragmataPro in examples Signed-off-by: Vaclav Vancura <commit@vancura.dev>
  examples/camera.html
  examples/patterns.html
  examples/primitives.html
  examples/sprite.html
Due: none

feat: add font attribution note for PragmataPro in examples Signed-off-by: Václav Vančura <commit@vancura.dev> Co-Authored-By: Cursor AI
  examples/camera.html
  examples/patterns.html
  examples/primitives.html
  examples/sprite.html
Due: none

feat(examples): integrate bitmap font support in example files
  examples/camera-example.ts
  examples/patterns-example.ts
  examples/primitives-example.ts
  examples/sprite-example.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

feat(renderer): implement sprite batching for multi-texture support
  src/render/Renderer.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

chore(changeset): add the changeset
  .changeset/tricky-pianos-hammer.md
Due: prettier --write

fix(renderer): handle sprite buffer overflow gracefully
  src/render/Renderer.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

feat(renderer): add buffer space check for quad rendering
  src/render/Renderer.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

refactor(renderer): enhance beginFrame method for comprehensive state reset
  src/render/Renderer.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

refactor: remove tilemap-related settings from hardware configuration
  README.md
  examples/basic-example.ts
  examples/camera-example.ts
  examples/font-example.ts
  examples/patterns-example.ts
  examples/primitives-example.ts
  examples/sprite-example.ts
  src/BlitTech.ts
  src/core/BTAPI.ts
  src/core/IBlitTechGame.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck', prettier --write

docs(README): update project description and add inspiration section
  README.md
Due: prettier --write

feat(rules): add project-specific rules and conventions
  .cursor/rules/blit-tech.mdc
  .cursor/rules/typescript.mdc
  .cursor/rules/webgpu.mdc
  .github/bugbot.yml
Due: prettier --write

refactor(bugbot): update emoji rules to use Unicode property escapes
  .github/bugbot.yml
Due: prettier --write

refactor(index): update HTML structure and redirect to examples
  .npmignore
  README.md
  index.html
  src/main.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck', prettier --write

feat(examples): restructure examples and add new demos
  README.md
  examples/basics.html
  examples/basics.ts
  examples/camera.html
  examples/camera.ts
  examples/examples-index.html
  examples/fonts.html
  examples/fonts.ts
  examples/index.html
  examples/patterns.html
  examples/patterns.ts
  examples/primitives.html
  examples/primitives.ts
  examples/sprites.html
  examples/sprites.ts
  vite.config.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck', prettier --write
