Repository vancura/blit-tech: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck', biome format --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

fix(blit-tech): enhance regression detection and formatting in comparison script
  scripts/compare-tier-2-perf-results.mjs
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix

fix(blit-tech): improve scenario stats validation in comparison script
  scripts/compare-tier-2-perf-results.mjs
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix

fix(ci): switch to pinned Chromium for GPU benchmarks
  .github/workflows/ci.yml
  playwright.perf.config.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck', prettier --write

docs(blit-tech): add performance testing guide and related docs
  README.md
  docs/performance-testing.md
Due: prettier --write

chore(blit-tech): clean up cspell word list
  cspell.json
Due: biome format --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(perf): add performance testing skill for benchmarks and CI
  .claude/skills/perf/SKILL.md
  CLAUDE.md
Due: prettier --write

docs(blit-tech): update README and refine performance testing docs
  README.md
  docs/performance-testing.md
Due: prettier --write

docs(blit-tech): refine section titles in performance-testing.md
  docs/performance-testing.md
Due: prettier --write

docs(docs): fix and update phase 1 documentation
  CONTRIBUTING.md
  README.md
  docs/developer-experience-guide.md
Due: prettier --write

feat(palette): add Palette class with 256-color support and integration
  cspell.json
  src/BlitTech.test.ts
  src/BlitTech.ts
  src/assets/Palette.test.ts
  src/assets/Palette.ts
  src/assets/palettes/presetData.ts
  src/core/BTAPI.test.ts
  src/core/BTAPI.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck', biome format --write --no-errors-on-unmatched --files-ignore-unknown=true

docs(demos): add numbered demo structure and progressive learning guide
  src/assets/Palette.test.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

feat(renderer): rework primitive pipeline to use palette indices instead of RGBA
  src/BlitTech.test.ts
  src/BlitTech.ts
  src/core/BTAPI.test.ts
  src/core/BTAPI.ts
  src/render/PrimitivePipeline.test.ts
  src/render/PrimitivePipeline.ts
  src/render/Renderer.test.ts
  src/render/Renderer.ts
  src/render/SpritePipeline.test.ts
  src/render/SpritePipeline.ts
  tests/visual/fixtures/camera.html
  tests/visual/fixtures/fonts.html
  tests/visual/fixtures/mixed.html
  tests/visual/fixtures/perf-fonts.html
  tests/visual/fixtures/perf-mixed.html
  tests/visual/fixtures/perf-primitives.html
  tests/visual/fixtures/perf-sprites.html
  tests/visual/fixtures/primitives.html
  tests/visual/fixtures/sprites.html
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

fix(api): harden assertPaletteIndex to always validate non-negative integers
  src/core/BTAPI.test.ts
  src/core/BTAPI.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

chore(ci): exclude bench files from unit test coverage
  vitest.config.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

refactor(renderer): deduplicate palette init in perf fixtures
  tests/visual/fixtures/perf-common.js
  tests/visual/fixtures/perf-fonts.html
  tests/visual/fixtures/perf-mixed.html
  tests/visual/fixtures/perf-primitives.html
  tests/visual/fixtures/perf-sprites.html
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix

test(renderer): add coverage for uncovered branches and shared mock helper
  src/BlitTech.test.ts
  src/__test__/webgpu-mock.ts
  src/core/GameLoop.test.ts
  src/render/PrimitivePipeline.test.ts
  src/render/Renderer.test.ts
  src/render/SpritePipeline.test.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

ci(ci): enable Run Tests job and fix test command
  .github/workflows/ci.yml
Due: prettier --write

fix(renderer): correct WHITE palette index and skip redundant GPU uploads
  src/render/Renderer.ts
  tests/visual/fixtures/perf-fonts.html
  tests/visual/fixtures/perf-mixed.html
  tests/visual/fixtures/perf-primitives.html
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

fix(renderer): fix clearRect param order, clone palette, fix error message
  src/BlitTech.test.ts
  src/BlitTech.ts
  src/core/BTAPI.test.ts
  src/core/BTAPI.ts
  src/render/PrimitivePipeline.test.ts
  src/render/PrimitivePipeline.ts
  src/render/Renderer.test.ts
  src/render/Renderer.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

refactor(renderer): enforce Vector2i on public drawPixelXY and drawPixel
  src/render/Renderer.test.ts
  src/render/Renderer.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

fix(ci): fix navigator.gpu absence test crashing on Node.js v20/Ubuntu 24
  src/core/WebGPUContext.test.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

perf(renderer): eliminate per-frame Float32Array allocation in palette upload
  src/assets/Palette.ts
  src/render/Renderer.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

fix(renderer): return palette clone from getPalette and warn on invalid clear index
  src/render/Renderer.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

fix(ci): fix tier-2 perf baseline path after artifact extraction
  .github/workflows/ci.yml
Due: prettier --write

fix(renderer): reset clearPaletteIndex when swapping to a smaller palette
  src/render/Renderer.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

fix(ci): raise tier-1 benchmark regression threshold from 10% to 15%
  .github/workflows/ci.yml
Due: prettier --write

fix(renderer): mark palette dirty after buffer allocation in initialize
  src/render/Renderer.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

refactor(renderer): delegate drawPixel to drawPixelXY to remove duplicate body
  src/render/Renderer.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

refactor(renderer): remove redundant drawPixelXY from Renderer public API
  src/render/Renderer.test.ts
  src/render/Renderer.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

test(renderer): fix spy scope, duplicate test names, and palette assertions
  src/render/Renderer.test.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

feat(assets): add palette-indexed sprite rendering via SpriteSheet.indexize()
  src/BlitTech.test.ts
  src/BlitTech.ts
  src/assets/SpriteSheet.test.ts
  src/assets/SpriteSheet.ts
  src/core/BTAPI.test.ts
  src/core/BTAPI.ts
  src/render/Renderer.test.ts
  src/render/Renderer.ts
  src/render/SpritePipeline.test.ts
  src/render/SpritePipeline.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

test(assets): update visual fixtures and mocks for palette-indexed sprites
  src/__test__/setup.ts
  src/__test__/webgpu-mock.ts
  tests/visual/__snapshots__/sprites.spec.ts/Sprite-Rendering-should-render-palette-indexed-sprites-with-offset-and-batching/chromium-webgpu.png
  tests/visual/__snapshots__/sprites.spec.ts/Sprite-Rendering-should-render-sprites-with-tinting-and-batching/chromium-webgpu.png
  tests/visual/fixtures/mixed.html
  tests/visual/fixtures/sprites.html
  tests/visual/sprites.spec.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

docs: update README and testing guide for palette-first rendering architecture
  README.md
  docs/testing.md
Due: prettier --write

docs(assets): add JSDoc to Palette class and inline comment to PrimitivePipeline WGSL
  src/assets/Palette.ts
  src/render/PrimitivePipeline.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

chore: add indexize/reindexize word forms and Uints to cspell dictionary
  cspell.json
Due: biome format --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(api): harden drawSprite, drawBitmapText, and spritesRefresh in BTAPI
  src/__test__/setup.ts
  src/core/BTAPI.test.ts
  src/core/BTAPI.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

fix(api): log reindexize failure details before evicting sheet in spritesRefresh
  src/core/BTAPI.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

refactor(palette): auto-propagate palette mutations via dirty flag
  src/assets/Palette.test.ts
  src/assets/Palette.ts
  src/render/Renderer.test.ts
  src/render/Renderer.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

fix(assets): make Palette.get() return a defensive copy and privatize colors
  src/assets/Palette.test.ts
  src/assets/Palette.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

docs(api): document paletteOffset semantics for drawSprite and printFont
  src/BlitTech.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

Path conditions:
  biome check --write --no-errors-on-unmatched --files-ignore-unknown=true: (any of: *.{ts,tsx}) or (any of: *.{js,cjs,mjs})
  eslint --fix: (any of: *.{ts,tsx}) or (any of: *.{js,cjs,mjs})
  bash -c 'pnpm typecheck': any of: *.{ts,tsx}
  biome format --write --no-errors-on-unmatched --files-ignore-unknown=true: any of: *.{json,jsonc,css}
  prettier --write: any of: *.{md,mdx,yml,yaml}
