Repository vancura/blit-tech: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck', biome format --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "biome check --write --no-errors-on-unmatched --files-ignore-unknown=true",
    "eslint --fix",
    "bash -c 'pnpm typecheck'"
  ],
  "*.{js,cjs,mjs}": ["biome check --write --no-errors-on-unmatched --files-ignore-unknown=true", "eslint --fix"],
  "*.{json,jsonc,css}": ["biome format --write --no-errors-on-unmatched --files-ignore-unknown=true"],
  "*.{md,mdx,yml,yaml}": ["prettier --write"]
}

chore(deps-dev): upgrade vite 7→8
  package.json
  pnpm-lock.yaml
Due: biome format --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore(deps-dev): upgrade typescript 5→6
  package.json
  pnpm-lock.yaml
  vite.config.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck', biome format --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

docs: update TypeScript badge to 6.0.3
  README.md
Due: prettier --write

fix(ci): bump Node.js baseline from 20 to 22 for cspell 10 compatibility
  .github/workflows/ci.yml
  .github/workflows/pr-checks.yml
  README.md
  docs/developer-experience-guide.md
  package.json
Due: biome format --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

feat(api): add opt-in dropped-frame detection with auto-calibrated baseline
  cspell.json
  src/core/BTAPI.ts
  src/core/GameLoop.test.ts
  src/core/GameLoop.ts
  src/core/IBlitTechDemo.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck', biome format --write --no-errors-on-unmatched --files-ignore-unknown=true

docs: document opt-in dropped-frame detection
  README.md
  docs/performance-best-practices.md
Due: prettier --write

refactor(api): convert dropped-frame buffer to ring layout and fix stale JSDoc
  src/core/GameLoop.test.ts
  src/core/GameLoop.ts
  src/core/IBlitTechDemo.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

fix(examples): use BT.systemPrint in visual test fixtures
  tests/visual/fixtures/fonts.html
  tests/visual/fixtures/mixed.html
  tests/visual/fixtures/perf-fonts.html
  tests/visual/fixtures/perf-mixed.html
Due: none

feat(renderer): add stackable post-process effect chain with PipBoy CRT and bloom
  README.md
  cspell.json
  docs/post-process-effects.md
  src/BlitTech.ts
  src/core/BTAPI.test.ts
  src/core/BTAPI.ts
  src/render/PostProcessChain.test.ts
  src/render/PostProcessChain.ts
  src/render/Renderer.test.ts
  src/render/Renderer.ts
  src/render/effects/BloomEffect.test.ts
  src/render/effects/BloomEffect.ts
  src/render/effects/Effect.ts
  src/render/effects/PipBoyEffect.test.ts
  src/render/effects/PipBoyEffect.ts
  src/render/effects/fullscreenVS.ts
  tests/visual/__snapshots__/post-process.spec.ts/Post-Process-Effects-PipBoyEffect-BloomEffect-stacked-renders-both-passes/chromium-webgpu.png
  tests/visual/__snapshots__/post-process.spec.ts/Post-Process-Effects-PipBoyEffect-alone-renders-the-deterministic-CRT-look/chromium-webgpu.png
  tests/visual/__snapshots__/post-process.spec.ts/Post-Process-Effects-baseline-scene-renders-without-effects-no-chain-/chromium-webgpu.png
  tests/visual/fixtures/post-process.html
  tests/visual/post-process.spec.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck', biome format --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore: update Biome
  biome.json
Due: biome format --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(renderer): address CodeRabbit findings on post-process effect chain
  biome.json
  docs/post-process-effects.md
  src/render/PostProcessChain.test.ts
  src/render/PostProcessChain.ts
  src/render/Renderer.test.ts
  src/render/effects/BloomEffect.test.ts
  src/render/effects/PipBoyEffect.ts
  tests/visual/post-process.spec.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck', biome format --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

fix(ci): remove stray "root: false" from biome.json
  biome.json
Due: biome format --write --no-errors-on-unmatched --files-ignore-unknown=true

docs(post-process-effects): align GammaEffect example with Effect interface
  docs/post-process-effects.md
Due: prettier --write

ci: remove tier-2 GPU perf tests, rename perf-tier-1 label to perf
  .claude/skills/perf/SKILL.md
  .github/workflows/ci.yml
  CLAUDE.md
  README.md
  docs/performance-testing.md
  eslint.config.js
  package.json
  playwright.perf.config.ts
  scripts/compare-tier-2-perf-results.mjs
  tests/perf/perf.spec.ts
  tests/visual/fixtures/perf-common.js
  tests/visual/fixtures/perf-fonts.html
  tests/visual/fixtures/perf-mixed.html
  tests/visual/fixtures/perf-primitives.html
  tests/visual/fixtures/perf-sprites.html
  tsconfig.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck', biome format --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

docs(ci): fix duplicate heading in performance-testing.md
  docs/performance-testing.md
Due: prettier --write

fix(ci): drop accidentally tracked node_modules symlink
  node_modules
Due: none

fix(test): use optional chaining instead of non-null assertion
  src/render/UpscalePass.test.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

fix(renderer): harden effects, fix bind-group cache, improve tests
  src/render/Renderer.ts
  src/render/effects/FullscreenEffect.ts
  src/render/effects/display/Bloom.test.ts
  src/render/effects/display/ChromaticAberration.ts
  src/render/effects/display/RGBMask.test.ts
  src/render/effects/display/RGBMask.ts
  src/render/effects/display/Scanlines.ts
  src/render/effects/pixel/PixelMosaic.test.ts
  src/render/effects/presets/crtPipBoy.test.ts
  src/render/effects/presets/green.test.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

fix(renderer): release GPU resources at the top of initialize()
  src/render/Renderer.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

ci(benchmarks): raise tier-1 regression threshold from 15% to 25%
  .github/workflows/ci.yml
  CLAUDE.md
Due: prettier --write

fix(renderer): propagate real deltaMs to effect chains and fix display-tier gate
  src/core/BTAPI.ts
  src/render/Renderer.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

fix(renderer): dispatch removeEffect by effect.tier instead of always trying pixel chain first
  src/render/Renderer.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

feat(input): implement pointer / mouse / touch input system
  src/BlitTech.test.ts
  src/BlitTech.ts
  src/core/BTAPI.test.ts
  src/core/BTAPI.ts
  src/input/PointerInput.test.ts
  src/input/PointerInput.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

test(input): add missing branch coverage for PointerInput
  src/input/PointerInput.test.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

fix(input): harden pointer input correctness and resource safety
  src/core/BTAPI.ts
  src/input/PointerInput.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

feat(input): add hideCursor / showCursor to PointerInput and BT namespace
  src/BlitTech.ts
  src/input/PointerInput.test.ts
  src/input/PointerInput.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

fix(input): release pointer captures on detach and record final mouse position on pointerup
  src/input/PointerInput.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

docs(input): add pointer input guide and update README + CLAUDE.md
  CLAUDE.md
  README.md
  docs/input.md
Due: prettier --write

test(input): add detach capture release and mouse flick regression tests
  src/BlitTech.ts
  src/input/PointerInput.test.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

chore(docs): fix the code snippet
  docs/input.md
Due: prettier --write

feat(input): add keyboard input, text buffer, and default face-button maps
  cspell.json
  src/BlitTech.test.ts
  src/BlitTech.ts
  src/core/BTAPI.test.ts
  src/core/BTAPI.ts
  src/input/KeyboardInput.test.ts
  src/input/KeyboardInput.ts
  src/input/defaultKeyboardMap.ts
  src/utils/Bootstrap.test.ts
  src/utils/Bootstrap.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck', biome format --write --no-errors-on-unmatched --files-ignore-unknown=true

test(input): expand KeyboardInput coverage for beforeinput and OR buttons
  src/input/KeyboardInput.test.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

fix(api): detach pointer and keyboard before reattach on initialize
  cspell.json
  src/core/BTAPI.test.ts
  src/core/BTAPI.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck', biome format --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(input): add per-player keyboard remap via BT.inputMap
  src/BlitTech.test.ts
  src/BlitTech.ts
  src/input/defaultKeyboardMap.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

docs(input): document keyboard, face buttons, and BT.inputMap
  CLAUDE.md
  README.md
  docs/input.md
Due: prettier --write

docs(input): clarify face-button test wording and map helper docs
  src/BlitTech.test.ts
  src/input/defaultKeyboardMap.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

docs(input): clarify repeat behavior for mapped face buttons
  docs/input.md
Due: prettier --write

docs: fix the typos
  docs/input.md
Due: prettier --write

feat(input): implement gamepad input system with bitmask button api
  CLAUDE.md
  README.md
  cspell.json
  docs/input.md
  src/BlitTech.test.ts
  src/BlitTech.ts
  src/core/BTAPI.test.ts
  src/core/BTAPI.ts
  src/input/GamepadInput.test.ts
  src/input/GamepadInput.ts
  src/input/KeyboardInput.test.ts
  src/input/defaultKeyboardMap.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck', biome format --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write
