Repository vancura/blit-tech: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck', biome format --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

docs(api): align stats overlay docs with present fps and multi-row metrics
  docs/api-assets.md
  docs/api-core.md
  docs/performance-best-practices.md
Due: prettier --write

feat(renderer): add multi-row stats overlay timing and draw-call metrics
  src/render/StatsOverlay.test.ts
  src/render/StatsOverlay.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

docs(api): use present fps label in targetfps jsdoc
  src/core/IBlitTechDemo.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

refactor(renderer): split stats overlay into stats-overlay module tree
  CLAUDE.md
  docs/api-core.md
  docs/testing.md
  src/core/BTAPI.ts
  src/render/StatsOverlay.ts
  src/render/stats-overlay/FpsSampler.ts
  src/render/stats-overlay/StatsOverlay.test.ts
  src/render/stats-overlay/StatsOverlay.ts
  src/render/stats-overlay/StatsOverlayBars.ts
  src/render/stats-overlay/StatsOverlayPaletteView.ts
  src/render/stats-overlay/StatsOverlayTimingChart.ts
  src/render/stats-overlay/StatsOverlayToggle.ts
  src/render/stats-overlay/TimingSampler.ts
  src/render/stats-overlay/constants.ts
  src/render/stats-overlay/index.ts
  src/render/stats-overlay/labels.test.ts
  src/render/stats-overlay/labels.ts
  src/render/stats-overlay/layoutHelpers.test.ts
  src/render/stats-overlay/layoutHelpers.ts
  src/render/stats-overlay/layoutPlan.test.ts
  src/render/stats-overlay/layoutPlan.ts
  src/render/stats-overlay/testFixtures.ts
  src/render/stats-overlay/types.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck', prettier --write

fix(renderer): reformat stats overlay fps metric labels
  docs/api-core.md
  docs/performance-best-practices.md
  src/render/stats-overlay/StatsOverlay.test.ts
  src/render/stats-overlay/StatsOverlay.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck', prettier --write

refactor(renderer): harden stats overlay draw path and reduce allocations
  CLAUDE.md
  src/render/StatsOverlay.ts
  src/render/stats-overlay/StatsOverlay.ts
  src/render/stats-overlay/StatsOverlayBars.ts
  src/render/stats-overlay/StatsOverlayPaletteView.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck', prettier --write

feat(core): track per-frame palette usage for stats overlay grid
  src/assets/SpriteSheet.ts
  src/core/BTAPI.ts
  src/core/RenderPaletteUsage.test.ts
  src/core/RenderPaletteUsage.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

refactor(demos): replace demo-footer with engine stats overlay
  src/assets/SpriteSheet.ts
  src/core/BTAPI.ts
  src/core/RenderPaletteUsage.test.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

fix(renderer): wire used palette indices into stats overlay
  CLAUDE.md
  docs/api-core.md
  docs/testing.md
  src/render/stats-overlay/StatsOverlay.ts
  src/render/stats-overlay/StatsOverlayPaletteView.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck', prettier --write

feat(renderer): live palette swatch grid in stats overlay
  CLAUDE.md
  docs/api-core.md
  docs/testing.md
  src/assets/SpriteSheet.ts
  src/core/BTAPI.ts
  src/core/IBlitTechDemo.test.ts
  src/core/IBlitTechDemo.ts
  src/render/stats-overlay/StatsOverlay.test.ts
  src/render/stats-overlay/StatsOverlay.ts
  src/render/stats-overlay/StatsOverlayPaletteView.test.ts
  src/render/stats-overlay/StatsOverlayPaletteView.ts
  src/render/stats-overlay/layoutPlan.test.ts
  src/render/stats-overlay/layoutPlan.ts
  src/render/stats-overlay/testFixtures.ts
  src/render/stats-overlay/types.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck', prettier --write

fix(core): keep palette grid opt-in and align overlay tests
  CLAUDE.md
  docs/api-core.md
  src/core/BTAPI.ts
  src/core/IBlitTechDemo.test.ts
  src/core/IBlitTechDemo.ts
  src/render/stats-overlay/StatsOverlayPaletteView.test.ts
  src/render/stats-overlay/StatsOverlayPaletteView.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck', prettier --write

fix(renderer): repair unused palette swatch marker rendering
  src/render/stats-overlay/StatsOverlayPaletteView.test.ts
  src/render/stats-overlay/StatsOverlayPaletteView.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

test(renderer): align unused swatch draw assertions with 3x3 marker
  src/render/stats-overlay/StatsOverlayPaletteView.test.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

fix(renderer): center and clamp unused palette swatch marker
  src/core/IBlitTechDemo.test.ts
  src/render/stats-overlay/StatsOverlayPaletteView.test.ts
  src/render/stats-overlay/StatsOverlayPaletteView.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

fix(renderer): guard unused swatch marker for invalid sizes
  src/render/stats-overlay/StatsOverlayPaletteView.test.ts
  src/render/stats-overlay/StatsOverlayPaletteView.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

refactor(renderer): pass palette usage mask directly to stats overlay grid
  CLAUDE.md
  docs/api-core.md
  src/assets/SpriteSheet.ts
  src/core/BTAPI.ts
  src/core/RenderPaletteUsage.ts
  src/render/stats-overlay/StatsOverlay.test.ts
  src/render/stats-overlay/StatsOverlay.ts
  src/render/stats-overlay/StatsOverlayPaletteView.test.ts
  src/render/stats-overlay/StatsOverlayPaletteView.ts
  src/render/stats-overlay/layoutPlan.test.ts
  src/render/stats-overlay/layoutPlan.ts
  src/render/stats-overlay/testFixtures.ts
  src/render/stats-overlay/types.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck', prettier --write

perf(renderer): reuse scratch rects in palette grid draw loop
  src/render/stats-overlay/StatsOverlayPaletteView.test.ts
  src/render/stats-overlay/StatsOverlayPaletteView.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

perf(renderer): gate palette usage tracking and reduce grid overhead
  docs/api-core.md
  src/assets/SpriteSheet.bench.ts
  src/assets/SpriteSheet.test.ts
  src/assets/SpriteSheet.ts
  src/core/BTAPI.test.ts
  src/core/BTAPI.ts
  src/render/stats-overlay/StatsOverlay.test.ts
  src/render/stats-overlay/StatsOverlay.ts
  src/render/stats-overlay/StatsOverlayPaletteView.bench.ts
  src/render/stats-overlay/StatsOverlayPaletteView.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck', prettier --write

test(core): add game-loop palette grid integration test
  src/core/BTAPI.test.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

test(core): assert drawSystemText skips glyph palette scans
  src/core/BTAPI.test.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

test(renderer): lock palette grid draw path against Rect2i allocations
  src/render/stats-overlay/StatsOverlayPaletteView.alloc.test.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

docs(perf): document stats overlay palette grid benchmarks in CI
  .claude/skills/perf/SKILL.md
  docs/performance-testing.md
Due: prettier --write

fix(core): reset palette usage mask before each render frame
  docs/api-core.md
  docs/performance-testing.md
  src/core/BTAPI.test.ts
  src/core/BTAPI.ts
  src/render/stats-overlay/StatsOverlay.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck', prettier --write

fix(renderer): silence unused toggle params on StatsOverlay.draw
  src/render/stats-overlay/StatsOverlay.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

test(core): detect stale palette mask after overlay re-show
  docs/api-core.md
  src/core/BTAPI.test.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck', prettier --write

feat(renderer): add opt-in stats overlay timing chart band
  CLAUDE.md
  docs/api-core.md
  src/BlitTech.test.ts
  src/BlitTech.ts
  src/core/BTAPI.test.ts
  src/core/BTAPI.ts
  src/core/IBlitTechDemo.test.ts
  src/core/IBlitTechDemo.ts
  src/render/stats-overlay/StatsOverlay.test.ts
  src/render/stats-overlay/StatsOverlay.ts
  src/render/stats-overlay/StatsOverlayBars.ts
  src/render/stats-overlay/StatsOverlayTimingChart.test.ts
  src/render/stats-overlay/StatsOverlayTimingChart.ts
  src/render/stats-overlay/constants.ts
  src/render/stats-overlay/index.ts
  src/render/stats-overlay/layoutPlan.ts
  src/render/stats-overlay/testFixtures.ts
  src/render/stats-overlay/timingChartStyle.test.ts
  src/render/stats-overlay/timingChartStyle.ts
  src/utils/errorMessages.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck', prettier --write

fix(renderer): sync timing chart default and reuse chart dot rect
  docs/api-core.md
  src/core/IBlitTechDemo.test.ts
  src/core/IBlitTechDemo.ts
  src/render/stats-overlay/StatsOverlayTimingChart.ts
  src/render/stats-overlay/testFixtures.ts
  src/render/stats-overlay/timingChartStyle.test.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck', prettier --write

docs(api): reclassify BT.outputSize as derived getter
  .claude/rules/bt-api-getters.md
  .claude/skills/bt-review/SKILL.md
  .cursor/rules/bt-api-getters.mdc
  CLAUDE.md
  docs/api-core.md
  docs/developer-experience-guide.md
Due: prettier --write

feat(api)!: rename HardwareSettings display fields to resolution model
  .claude/rules/bt-api-getters.md
  .claude/skills/bt-review/SKILL.md
  .claude/skills/release/SKILL.md
  .cursor/rules/bt-api-getters.mdc
  CLAUDE.md
  docs/api-core.md
  docs/api-rendering.md
  docs/bitmap-fonts.md
  docs/developer-experience-guide.md
  docs/input.md
  docs/post-process-effects.md
  src/BlitTech.test.ts
  src/BlitTech.ts
  src/core/BTAPI.test.ts
  src/core/BTAPI.ts
  src/core/IBlitTechDemo.test.ts
  src/core/IBlitTechDemo.ts
  src/core/WebGPUContext.test.ts
  src/core/WebGPUContext.ts
  src/input/PointerInput.ts
  src/render/UpscalePass.ts
  src/render/WebGpuRenderer.ts
  src/render/effects/Effect.ts
  src/render/effects/FullscreenEffect.ts
  src/utils/CanvasLayoutStyles.test.ts
  src/utils/CanvasLayoutStyles.ts
  src/utils/RenderLimits.test.ts
  src/utils/RenderLimits.ts
  src/utils/errorMessages.test.ts
  tests/visual/fixtures/camera.html
  tests/visual/fixtures/fonts.html
  tests/visual/fixtures/mixed.html
  tests/visual/fixtures/post-process.html
  tests/visual/fixtures/primitives.html
  tests/visual/fixtures/sprites.html
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck', prettier --write

refactor(api)!: restore displaySize and harden configure merge
  .claude/rules/bt-api-getters.md
  .claude/skills/bt-review/SKILL.md
  .cursor/rules/bt-api-getters.mdc
  CLAUDE.md
  docs/api-core.md
  docs/bitmap-fonts.md
  docs/developer-experience-guide.md
  docs/input.md
  docs/post-process-effects.md
  src/BlitTech.test.ts
  src/BlitTech.ts
  src/core/BTAPI.test.ts
  src/core/BTAPI.ts
  src/core/IBlitTechDemo.test.ts
  src/core/IBlitTechDemo.ts
  src/core/WebGPUContext.ts
  src/input/PointerInput.ts
  src/render/effects/Effect.ts
  src/render/effects/FullscreenEffect.ts
  src/utils/CanvasLayoutStyles.test.ts
  src/utils/CanvasLayoutStyles.ts
  src/utils/RenderLimits.test.ts
  src/utils/RenderLimits.ts
  src/utils/errorMessages.test.ts
  tests/visual/fixtures/camera.html
  tests/visual/fixtures/fonts.html
  tests/visual/fixtures/mixed.html
  tests/visual/fixtures/post-process.html
  tests/visual/fixtures/primitives.html
  tests/visual/fixtures/sprites.html
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck', prettier --write

fix(core): keep null configure vectors out of HardwareSettings
  src/core/IBlitTechDemo.test.ts
  src/core/IBlitTechDemo.ts
  src/core/WebGPUContext.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

test(core): cover null maxCanvasSize configure sentinel
  src/core/IBlitTechDemo.test.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

feat(renderer): hide stats overlay body by default and split footer bands
  CLAUDE.md
  docs/api-core.md
  src/core/BTAPI.test.ts
  src/core/BTAPI.ts
  src/core/IBlitTechDemo.test.ts
  src/core/IBlitTechDemo.ts
  src/render/stats-overlay/StatsOverlay.test.ts
  src/render/stats-overlay/StatsOverlay.ts
  src/render/stats-overlay/StatsOverlayBars.ts
  src/render/stats-overlay/StatsOverlayPaletteView.alloc.test.ts
  src/render/stats-overlay/StatsOverlayPaletteView.bench.ts
  src/render/stats-overlay/StatsOverlayPaletteView.test.ts
  src/render/stats-overlay/StatsOverlayPaletteView.ts
  src/render/stats-overlay/StatsOverlayToggle.ts
  src/render/stats-overlay/constants.ts
  src/render/stats-overlay/index.ts
  src/render/stats-overlay/layoutHelpers.test.ts
  src/render/stats-overlay/layoutHelpers.ts
  src/render/stats-overlay/layoutPlan.test.ts
  src/render/stats-overlay/layoutPlan.ts
  src/render/stats-overlay/testFixtures.ts
  src/render/stats-overlay/types.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck', prettier --write

feat(renderer): add stats overlay palette swatch hover and copy
  src/core/BTAPI.ts
  src/render/stats-overlay/StatsOverlay.test.ts
  src/render/stats-overlay/StatsOverlay.ts
  src/render/stats-overlay/StatsOverlayPaletteInteraction.test.ts
  src/render/stats-overlay/StatsOverlayPaletteInteraction.ts
  src/render/stats-overlay/StatsOverlayPaletteView.ts
  src/render/stats-overlay/StatsOverlayToggle.ts
  src/render/stats-overlay/testFixtures.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

feat(renderer): draw palette tooltips above custom stats rows
  docs/api-core.md
  src/render/IRenderer.ts
  src/render/SoftwareRenderer.ts
  src/render/WebGpuRenderer.test.ts
  src/render/WebGpuRenderer.ts
  src/render/stats-overlay/StatsOverlay.ts
  src/render/stats-overlay/StatsOverlayPaletteInteraction.test.ts
  src/render/stats-overlay/StatsOverlayPaletteInteraction.ts
  src/render/stats-overlay/testFixtures.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck', prettier --write

fix(renderer): polish palette swatch tooltip layout and border
  src/render/stats-overlay/StatsOverlayPaletteInteraction.test.ts
  src/render/stats-overlay/StatsOverlayPaletteInteraction.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

fix(renderer): expire palette copy status from clipboard completion
  src/render/stats-overlay/StatsOverlayPaletteInteraction.test.ts
  src/render/stats-overlay/StatsOverlayPaletteInteraction.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

refactor(renderer): move stats overlay draws to StatsOverlayDrawTarget
  CLAUDE.md
  docs/api-core.md
  src/core/BTAPI.test.ts
  src/core/BTAPI.ts
  src/render/IRenderer.ts
  src/render/SoftwareRenderer.ts
  src/render/WebGpuRenderer.test.ts
  src/render/WebGpuRenderer.ts
  src/render/stats-overlay/StatsOverlay.test.ts
  src/render/stats-overlay/StatsOverlay.ts
  src/render/stats-overlay/StatsOverlayBars.ts
  src/render/stats-overlay/StatsOverlayDrawTarget.ts
  src/render/stats-overlay/StatsOverlayPaletteInteraction.test.ts
  src/render/stats-overlay/StatsOverlayPaletteInteraction.ts
  src/render/stats-overlay/StatsOverlayPaletteView.alloc.test.ts
  src/render/stats-overlay/StatsOverlayPaletteView.bench.ts
  src/render/stats-overlay/StatsOverlayPaletteView.test.ts
  src/render/stats-overlay/StatsOverlayPaletteView.ts
  src/render/stats-overlay/StatsOverlayTimingChart.test.ts
  src/render/stats-overlay/StatsOverlayTimingChart.ts
  src/render/stats-overlay/testFixtures.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck', prettier --write

fix(renderer): default missing drawLabel palette offset in test helper
  src/render/stats-overlay/StatsOverlay.ts
  src/render/stats-overlay/testFixtures.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

Path conditions:
  biome check --write --no-errors-on-unmatched --files-ignore-unknown=true: (any of: *.{ts,tsx}) or (any of: *.{js,cjs,mjs})
  eslint --fix: (any of: *.{ts,tsx}) or (any of: *.{js,cjs,mjs})
  bash -c 'pnpm typecheck': any of: *.{ts,tsx}
  biome format --write --no-errors-on-unmatched --files-ignore-unknown=true: any of: *.{json,jsonc,css}
  prettier --write: any of: *.{md,mdx,yml,yaml}
