Repository vancura/blit-tech: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck', biome format --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "biome check --write --no-errors-on-unmatched --files-ignore-unknown=true",
    "eslint --fix",
    "bash -c 'pnpm typecheck'"
  ],
  "*.{js,cjs,mjs}": ["biome check --write --no-errors-on-unmatched --files-ignore-unknown=true", "eslint --fix"],
  "*.{json,jsonc,css}": ["biome format --write --no-errors-on-unmatched --files-ignore-unknown=true"],
  "*.{md,mdx,yml,yaml}": ["prettier --write"]
}

refactor(assets): split SpriteSheet helpers and streamline indexization flow
  src/assets/SpriteSheet.test.ts
  src/assets/SpriteSheet.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

refactor(assets): flatten SystemFont glyph pixel loop
  src/assets/SystemFont.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

refactor(assets): relocate SpriteSheet getters into correct regions
  src/assets/SpriteSheet.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

refactor(renderer): rename WebGpuRenderer to WebGPURenderer
  CLAUDE.md
  docs/testing.md
  src/__test__/webgpu-mock.ts
  src/core/BTAPI.test.ts
  src/overlay/OverlayDrawTarget.ts
  src/render/WebGpuRenderer.test.ts
  src/render/WebGpuRenderer.ts
  src/render/effects/FullscreenPixelEffect.ts
  src/utils/RenderLimits.ts
  src/utils/errorMessages.test.ts
  src/utils/errorMessages.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck', prettier --write

refactor(renderer): rename WebGpuRenderer files to WebGPURenderer
  src/render/WebGPURenderer.test.ts
  src/render/WebGPURenderer.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

docs(rules): add TypeScript file structure agent rules
  .claude/rules/ts-file-structure.md
  .cursor/rules/ts-file-structure.mdc
  CLAUDE.md
  docs/developer-experience-guide.md
  eslint.config.js
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, prettier --write

refactor: remove JetBrains noinspection comments and normalize eslint-disable style
  src/BlitTech.test.ts
  src/assets/AssetLoader.test.ts
  src/assets/BitmapFont.bench.ts
  src/assets/BitmapFont.test.ts
  src/assets/Palette.test.ts
  src/assets/SpriteSheet.test.ts
  src/input/defaultKeyboardMap.ts
  tests/visual/camera.spec.ts
  tests/visual/coverage-fixture.ts
  tests/visual/fixtures/camera.html
  tests/visual/fixtures/fonts.html
  tests/visual/fixtures/mixed.html
  tests/visual/fixtures/post-process.html
  tests/visual/fixtures/primitives.html
  tests/visual/fixtures/sprites.html
  tests/visual/fonts.spec.ts
  tests/visual/mixed.spec.ts
  tests/visual/post-process.spec.ts
  tests/visual/primitives.spec.ts
  tests/visual/sprites.spec.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

docs: flatten nested bullet lists in bt-* skill definitions
  .claude/skills/bt-deep-review/SKILL.md
  .claude/skills/bt-format/SKILL.md
  .claude/skills/bt-pr/SKILL.md
  .claude/skills/bt-preflight/SKILL.md
  .claude/skills/bt-quick-format/SKILL.md
  .claude/skills/bt-review/SKILL.md
  .claude/skills/bt-security-run/SKILL.md
  .claude/skills/bt-spellcheck/SKILL.md
  .claude/skills/bt-test/SKILL.md
Due: prettier --write

test(visual): normalize fixtures — named color, remove stale comments
  tests/visual/fixtures/camera.html
  tests/visual/fixtures/fonts.html
  tests/visual/fixtures/mixed.html
  tests/visual/fixtures/post-process.html
  tests/visual/fixtures/primitives.html
  tests/visual/fixtures/sprites.html
Due: none

chore: normalize case statement indentation in format-and-check hook
  .cursor/hooks/format-and-check.sh
Due: none

refactor: enforce sort-classes member order across source files
  src/assets/Palette.ts
  src/assets/SpriteSheet.ts
  src/core/BTAPI.ts
  src/overlay/Overlay.ts
  src/overlay/bars/Bars.ts
  src/overlay/palette/PaletteInteraction.ts
  src/overlay/sampling/FpsSampler.ts
  src/overlay/sampling/TimingSampler.ts
  src/render/PostProcessChain.ts
  src/render/SoftwareRenderer.ts
  src/render/UpscalePass.ts
  src/render/effects/pixel/PixelGlitch.ts
  src/render/effects/pixel/PixelMosaic.ts
  src/utils/BootstrapHelpers.ts
  src/utils/Color32.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

refactor: remove remaining banned #region markers
  src/render/WebGpuRenderer.ts
  src/utils/Color32.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

test(visual): remove block scope from post-process switch cases
  tests/visual/fixtures/post-process.html
Due: none

docs: renumber bt-deep-review steps and add MD029 ordered style
  .claude/skills/bt-deep-review/SKILL.md
  .markdownlint.json
Due: biome format --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore: trim stale entries from npmignore and prettierignore
  .npmignore
  .prettierignore
Due: none

chore: remove unused astimezone from cspell dictionary
  cspell.json
Due: biome format --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(renderer): remove unresolved MonochromeQuantize JSDoc link
  src/render/effects/presets/amber.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

test: brace single-line guard clauses in unit tests
  src/core/BTAPI.test.ts
  src/utils/FrameCapture.test.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

refactor: import overlay symbols from barrel exports
  src/core/BTAPI.test.ts
  src/core/BTAPI.ts
  src/render/IRenderer.ts
  src/render/SoftwareRenderer.ts
  src/render/WebGpuRenderer.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

refactor: reduce negation density and simplify conditionals
  src/core/BTAPI.ts
  src/core/IBlitTechDemo.ts
  src/overlay/palette/PaletteInteraction.ts
  src/overlay/sampling/TimingSampler.ts
  src/overlay/timing-chart/TimingChart.ts
  src/utils/AssetLimits.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

refactor(api): drop redundant typeof checks in drawPixel dispatch
  src/BlitTech.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

fix(core): continue init when demo.configure() throws
  src/core/BTAPI.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

test: inline return in PostProcessChain stub helper
  src/render/PostProcessChain.test.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

refactor(utils): drop exhaustive never check in Easing switch
  src/utils/Easing.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

refactor(utils): inline channel read in FrameCapture swizzle
  src/utils/FrameCapture.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

refactor(renderer): normalize GPU acronym casing to uppercase
  CLAUDE.md
  docs/testing.md
  src/__test__/webgpu-mock.ts
  src/core/BTAPI.test.ts
  src/core/BTAPI.ts
  src/overlay/OverlayDrawTarget.ts
  src/render/WebGPURenderer.test.ts
  src/render/WebGPURenderer.ts
  src/render/effects/FullscreenPixelEffect.ts
  src/utils/RenderLimits.ts
  src/utils/errorMessages.test.ts
  src/utils/errorMessages.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck', prettier --write

refactor(renderer): strip file prefix from module-local PipelineAccess type
  src/render/WebGPURenderer.test.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

docs: sync CLAUDE.md and claude skills with current project state
  .claude/rules/bt-api-getters.md
  .claude/skills/bt-deep-review/SKILL.md
  .claude/skills/bt-format/SKILL.md
  .claude/skills/bt-preflight/SKILL.md
  .claude/skills/bt-quick-format/SKILL.md
  .claude/skills/bt-spellcheck/SKILL.md
  CLAUDE.md
Due: prettier --write

docs: sync cursor rules with current project state
  .cursor/hooks/format-and-check.sh
  .cursor/rules/bt-api-getters.mdc
  .cursor/rules/claude-canonical.mdc
  .cursor/rules/docs-sync-required.mdc
  .cursor/rules/rtk-and-pnpm.mdc
  CLAUDE.md
Due: prettier --write

docs: add overlay guide and correct accuracy across all docs
  CONTRIBUTING.md
  README.md
  docs/api-assets.md
  docs/api-core.md
  docs/api-palette.md
  docs/api-rendering.md
  docs/bitmap-fonts.md
  docs/deprecations.md
  docs/developer-experience-guide.md
  docs/input.md
  docs/overlay.md
  docs/performance-best-practices.md
  docs/security/security-runbook.md
  docs/testing.md
Due: prettier --write

docs(input): correct input guide masks and stick dead zone docs
  docs/input.md
Due: prettier --write

docs: fix remaining jsdoc inaccuracies in core, input, and render
  src/core/IBlitTechDemo.ts
  src/input/KeyboardInput.ts
  src/input/PointerInput.ts
  src/render/PostProcessChain.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

chore(release): bump version to 1.1.1
  package.json
  src/core/BTAPI.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck', biome format --write --no-errors-on-unmatched --files-ignore-unknown=true

ci: ignore github compare urls in markdown link checker
  .github/markdown-link-check.json
Due: biome format --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(renderer): move module-level GPUTextureUsage access into methods
  src/core/BTAPI.ts
  src/render/PostProcessChain.ts
  src/render/UpscalePass.ts
  src/render/WebGPURenderer.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

chore(ci): add bt-issue-audit skill for re-auditing open issues
  .agents/skills/bt-issue-audit
  .claude/skills/bt-issue-audit/SKILL.md
Due: prettier --write

fix(ci): use per-issue audit dates in bt-issue-audit change detection
  .claude/skills/bt-issue-audit/SKILL.md
Due: prettier --write

docs: point onboarding at create-blit-tech scaffolder
  .cursor/rules/docs-sync-required.mdc
  CLAUDE.md
  README.md
  cspell.json
  docs/api-core.md
Due: biome format --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write
