Repository vancura/blit-tech: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck', biome format --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

refactor(renderer): extract IRenderer contract and migrate to WebGpuRenderer
  CLAUDE.md
  docs/testing.md
  src/BlitTech.ts
  src/core/BTAPI.ts
  src/core/IBlitTechDemo.ts
  src/render/IRenderer.ts
  src/render/WebGpuRenderer.test.ts
  src/render/WebGpuRenderer.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck', prettier --write

fix(renderer): warn when non-webgpu backend is requested before VV-491
  src/core/BTAPI.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

fix(renderer): log actual backend in initRenderer, not requested backend
  src/core/BTAPI.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

feat(renderer): add SoftwareRenderer canvas-2d fallback backend
  cspell.json
  src/assets/SpriteSheet.test.ts
  src/assets/SpriteSheet.ts
  src/core/BTAPI.test.ts
  src/core/BTAPI.ts
  src/core/IBlitTechDemo.ts
  src/render/SoftwareRenderer.test.ts
  src/render/SoftwareRenderer.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck', biome format --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(renderer): add ?renderer=software URL query override for runtime backend switching
  src/BlitTech.test.ts
  src/assets/SpriteSheet.test.ts
  src/assets/SpriteSheet.ts
  src/core/BTAPI.test.ts
  src/core/BTAPI.ts
  src/core/IBlitTechDemo.ts
  src/render/SoftwareRenderer.test.ts
  src/render/SoftwareRenderer.ts
  src/utils/Bootstrap.test.ts
  src/utils/Bootstrap.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

test(renderer): add software-mode visual regression specs and baselines
  docs/software-fallback-smoke-matrix.md
  tests/visual/__snapshots__/camera.spec.ts/Camera-Rendering-should-render-matching-camera-offsets-in-software-mode/chromium-webgpu.png
  tests/visual/__snapshots__/fonts.spec.ts/Font-Rendering-should-render-matching-text-output-in-software-mode/chromium-webgpu.png
  tests/visual/__snapshots__/mixed.spec.ts/Mixed-Rendering-should-render-matching-primitives-and-sprites-layering-in-software-mode/chromium-webgpu.png
  tests/visual/__snapshots__/primitives.spec.ts/Primitive-Rendering-should-render-matching-primitive-patterns-in-software-mode/chromium-webgpu.png
  tests/visual/__snapshots__/sprites.spec.ts/Sprite-Rendering-should-render-matching-indexed-sprites-with-offsets-in-software-mode/chromium-webgpu.png
  tests/visual/camera.spec.ts
  tests/visual/fonts.spec.ts
  tests/visual/mixed.spec.ts
  tests/visual/primitives.spec.ts
  tests/visual/sprites.spec.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck', prettier --write

test(renderer): tighten 2d context mocks in software-related tests
  src/core/BTAPI.test.ts
  src/render/SoftwareRenderer.test.ts
  src/utils/Bootstrap.test.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

test(api): extract makeMock2DCanvas helper to eliminate inline duplication
  src/core/BTAPI.test.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

test(api): strengthen unknown-renderer test to assert configure() renderer is preserved
  src/core/BTAPI.test.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

docs(renderer): document SoftwareRenderer backend in CLAUDE.md, README, and guides
  CLAUDE.md
  README.md
  docs/post-process-effects.md
  docs/testing.md
Due: prettier --write

ci(docs): ignore github actions urls in markdown link checker
  .github/markdown-link-check.json
Due: biome format --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(api): auto-fallback to software renderer when WebGPU unavailable
  src/core/BTAPI.test.ts
  src/core/BTAPI.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

feat(api): remove Bootstrap WebGPU hard-stop; let BTAPI handle fallback
  src/utils/Bootstrap.test.ts
  src/utils/Bootstrap.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

test(api): fix TypeScript strict null check in ticker test
  src/core/BTAPI.test.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

refactor(renderer): extract SoftwareTicker into its own module
  src/core/BTAPI.ts
  src/render/SoftwareTicker.test.ts
  src/render/SoftwareTicker.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

refactor(renderer): make ticker static and dismissible on click/tap
  src/core/BTAPI.ts
  src/render/SoftwareTicker.test.ts
  src/render/SoftwareTicker.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

docs: update README, CLAUDE.md, and smoke matrix for auto-fallback and ticker
  CLAUDE.md
  README.md
  docs/software-fallback-smoke-matrix.md
Due: prettier --write

feat(api): expose getActiveBackend on BT namespace
  README.md
  src/BlitTech.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck', prettier --write

refactor(api): delete obsolete WebGPU-only bootstrap helpers (VV-492)
  src/BlitTech.ts
  src/utils/Bootstrap.test.ts
  src/utils/Bootstrap.ts
  src/utils/BootstrapHelpers.test.ts
  src/utils/BootstrapHelpers.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

docs(api): update README and CLAUDE.md to remove checkWebGPUSupport references
  CLAUDE.md
  README.md
Due: prettier --write

test(api): add BT.getActiveBackend() facade tests
  src/BlitTech.test.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

feat(assets): add Palette.applyHUD() preset for common HUD color slots (VV-470)
  src/assets/Palette.test.ts
  src/assets/Palette.ts
  src/assets/palettes/hudData.ts
  src/utils/errorMessages.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

fix(assets): harden applyHUD validation and preserve HUD_SLOTS literal types
  src/assets/Palette.test.ts
  src/assets/Palette.ts
  src/assets/palettes/hudData.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

docs(assets): add Palette.applyHUD() usage examples and API convention
  CLAUDE.md
  README.md
Due: prettier --write

fix(assets): remove unused HudSlot export from hudData.ts
  src/assets/palettes/hudData.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

feat(renderer): use r8uint logical framebuffer with palette resolve upscale
  CLAUDE.md
  README.md
  cspell.json
  docs/post-process-effects.md
  src/render/PaletteResolveUpscalePass.ts
  src/render/PostProcessChain.ts
  src/render/PrimitivePipeline.test.ts
  src/render/PrimitivePipeline.ts
  src/render/SpritePipeline.test.ts
  src/render/SpritePipeline.ts
  src/render/WebGpuRenderer.test.ts
  src/render/WebGpuRenderer.ts
  src/render/effects/Effect.ts
  src/render/effects/FullscreenPixelEffect.ts
  src/render/effects/pixel/PixelGlitch.test.ts
  src/render/effects/pixel/PixelGlitch.ts
  src/render/effects/pixel/PixelMosaic.test.ts
  src/render/effects/pixel/PixelMosaic.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck', biome format --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

fix(renderer): premultiply alpha for linear palette resolve upscale
  src/render/PaletteResolveUpscalePass.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

fix(renderer): preserve alpha and scalar-cache resolve uniforms
  src/render/PaletteResolveUpscalePass.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

refactor(renderer): region-wrap palette resolve pass and reset init cache
  src/render/PaletteResolveUpscalePass.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

docs: reorganize documentation and add API reference guides
  .vscode/extensions.json
  .vscode/settings.json
  CLAUDE.md
  README.md
  docs/api-assets.md
  docs/api-core.md
  docs/api-palette.md
  docs/api-rendering.md
  docs/developer-experience-guide.md
  docs/performance-testing.md
  docs/voice.md
Due: biome format --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

docs(claude): remove hardcoded line number from benchmark threshold pointer
  CLAUDE.md
Due: prettier --write

feat(utils): add static Color32.lerp helper
  docs/api-core.md
  src/utils/Color32.test.ts
  src/utils/Color32.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck', prettier --write

feat(utils)!: expose preset Color32 colors as static getters
  docs/api-core.md
  docs/api-palette.md
  docs/bitmap-fonts.md
  docs/performance-best-practices.md
  src/assets/Palette.test.ts
  src/assets/Palette.ts
  src/render/SoftwareRenderer.ts
  src/render/WebGpuRenderer.test.ts
  src/utils/Color32.test.ts
  src/utils/Color32.ts
  tests/visual/fixtures/camera.html
  tests/visual/fixtures/fonts.html
  tests/visual/fixtures/post-process.html
  tests/visual/fixtures/primitives.html
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck', prettier --write

test(utils): align Color32 singleton test titles with getter api
  src/utils/Color32.test.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

chore(release): align version constants to 1.0.0
  package.json
  src/core/BTAPI.test.ts
  src/core/BTAPI.ts
  src/render/SoftwareTicker.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck', biome format --write --no-errors-on-unmatched --files-ignore-unknown=true

test(visual): refresh software-mode baselines after ticker changes
  tests/visual/__snapshots__/camera.spec.ts/Camera-Rendering-should-render-matching-camera-offsets-in-software-mode/chromium-webgpu.png
  tests/visual/__snapshots__/fonts.spec.ts/Font-Rendering-should-render-matching-text-output-in-software-mode/chromium-webgpu.png
  tests/visual/__snapshots__/mixed.spec.ts/Mixed-Rendering-should-render-matching-primitives-and-sprites-layering-in-software-mode/chromium-webgpu.png
  tests/visual/__snapshots__/primitives.spec.ts/Primitive-Rendering-should-render-matching-primitive-patterns-in-software-mode/chromium-webgpu.png
  tests/visual/__snapshots__/sprites.spec.ts/Sprite-Rendering-should-render-matching-indexed-sprites-with-offsets-in-software-mode/chromium-webgpu.png
Due: none

docs(readme): use blit-tech package in install and quick start
  README.md
  src/docs/consumer-doc-imports.test.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck', prettier --write

chore(ci): align typescript 5.9.3 with api extractor declarations
  .github/workflows/ci.yml
  .github/workflows/pr-checks.yml
  .prettierignore
  CLAUDE.md
  README.md
  docs/developer-experience-guide.md
  docs/testing.md
  eslint.config.js
  package.json
  pnpm-lock.yaml
  scripts/check-declaration-tooling.mjs
  scripts/check-declaration-tooling.test.mjs
  src/render/PaletteResolveUpscalePass.ts
  src/render/UpscalePass.test.ts
  src/render/effects/FullscreenEffect.ts
  src/render/effects/FullscreenPixelEffect.ts
  src/render/effects/display/BarrelDistortion.test.ts
  src/render/effects/display/RGBMask.test.ts
  src/render/effects/display/Scanlines.test.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck', biome format --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

docs(readme): drop npm link that fails CI link check
  README.md
Due: prettier --write

docs: move declaration tooling details to tooling guide
  .prettierignore
  CLAUDE.md
  README.md
  docs/testing.md
  docs/tooling.md
Due: prettier --write

Path conditions:
  biome check --write --no-errors-on-unmatched --files-ignore-unknown=true: (any of: *.{ts,tsx}) or (any of: *.{js,cjs,mjs})
  eslint --fix: (any of: *.{ts,tsx}) or (any of: *.{js,cjs,mjs})
  bash -c 'pnpm typecheck': any of: *.{ts,tsx}
  biome format --write --no-errors-on-unmatched --files-ignore-unknown=true: any of: *.{json,jsonc,css}
  prettier --write: any of: *.{md,mdx,yml,yaml}
