Repository vancura/blit-tech: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck', biome format --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "biome check --write --no-errors-on-unmatched --files-ignore-unknown=true",
    "eslint --fix",
    "bash -c 'pnpm typecheck'"
  ],
  "*.{js,cjs,mjs}": ["biome check --write --no-errors-on-unmatched --files-ignore-unknown=true", "eslint --fix"],
  "*.{json,jsonc,css}": ["biome format --write --no-errors-on-unmatched --files-ignore-unknown=true"],
  "*.{md,mdx,yml,yaml}": ["prettier --write"]
}

chore: move lint-staged config out of package.json
  package.json
Due: biome format --write --no-errors-on-unmatched --files-ignore-unknown=true

chore(claude): add agents entry point and docs-sync rule
  .claude/rules/docs-sync-required.md
  .claude/settings.json
  AGENTS.md
Due: biome format --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

fix(docs): correct stale demo URL in backend example
  packages/blit386/docs/api-core.md
Due: prettier --write

docs(website): resync core.mdx after demo URL fix commit
  packages/website/content/docs/api/core.mdx
Due: prettier --write

fix(renderer): shift+f9 dev capture now saves at displaySize, not outputSize
  packages/blit386/docs/api-core.md
  packages/blit386/docs/api-rendering.md
  packages/blit386/src/core/BTAPI.test.ts
  packages/blit386/src/core/BTAPI.ts
  packages/blit386/src/core/IBTDemo.ts
  packages/blit386/src/render/IRenderer.ts
  packages/blit386/src/render/SoftwareRenderer.ts
  packages/blit386/src/render/WebGPURenderer.ts
  packages/demos/src/image-output.js
  packages/website/content/docs/api/core.mdx
  packages/website/content/docs/api/rendering.mdx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck', prettier --write

docs(website): resync docs mirror lastModified after previous commit
  packages/website/content/docs/api/core.mdx
  packages/website/content/docs/api/rendering.mdx
Due: prettier --write

fix(renderer): guard OffscreenCanvas check and fix doc cross-reference
  packages/blit386/docs/api-core.md
  packages/blit386/src/render/SoftwareRenderer.test.ts
  packages/blit386/src/render/SoftwareRenderer.ts
  packages/website/content/docs/api/core.mdx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck', prettier --write

docs(website): resync docs mirror lastModified after previous commit
  packages/website/content/docs/api/core.mdx
Due: prettier --write

feat(core): add f9 copy-to-clipboard shortcut alongside shift+f9 save
  packages/blit386/docs/_api-history.json
  packages/blit386/docs/api-core.md
  packages/blit386/docs/api-rendering.md
  packages/blit386/src/core/BTAPI.test.ts
  packages/blit386/src/core/BTAPI.ts
  packages/blit386/src/core/IBTDemo.ts
  packages/blit386/src/utils/FrameCapture.ts
  packages/blit386/src/utils/FrameCaptureShortcut.ts
  packages/demos/_partials/layout.html
  packages/demos/src/image-output.js
  packages/website/content/docs/api/core.mdx
  packages/website/content/docs/api/rendering.mdx
  packages/website/src/data/api-history.generated.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck', biome format --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

docs(blit386): regenerate api history after dropping redundant changed tag
  packages/blit386/docs/_api-history.json
  packages/website/content/docs/api/core.mdx
  packages/website/content/docs/api/rendering.mdx
  packages/website/src/data/api-history.generated.json
Due: biome format --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

fix(core): share one in-flight guard between F9 and Shift+F9 shortcuts
  packages/blit386/src/core/BTAPI.test.ts
  packages/blit386/src/core/BTAPI.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

ci(root): raise bundle size gate from 80 KB to 84 KB gzipped
  .github/workflows/ci.yml
Due: prettier --write

docs(blit386): sync bundle-size reference table to 84 KB gate
  packages/blit386/docs/reference-testing.md
Due: prettier --write

fix(core): trigger bare-F9 clipboard copy from keydown, guard by generation
  packages/blit386/src/core/BTAPI.test.ts
  packages/blit386/src/core/BTAPI.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

docs(website): sync bundle-size reference mirror to 84 KB gate
  packages/website/content/docs/reference/testing.mdx
Due: prettier --write

fix(demos): stop shipping a duplicated font copy to production
  packages/demos/package.json
  packages/demos/public/_headers
  packages/demos/vite.config.js
  pnpm-lock.yaml
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, biome format --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

ci(demos): run the demos test suite in quality-demos job
  .github/workflows/ci.yml
Due: prettier --write

chore(demos): remove dead package configuration
  packages/demos/.cfignore
  packages/demos/.npmignore
Due: none

chore(demos): remove remaining dead configuration references
  .gitignore
  knip.json
  packages/demos/.gitignore
  packages/demos/biome.json
  packages/demos/eslint.config.js
  packages/demos/package.json
  pnpm-lock.yaml
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, biome format --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

fix(demos): capture the missing system-font-glyphs OpenGraph card
  packages/demos/public/social/og-system-font-glyphs.png
Due: none

chore(demos): retire the filip-test-02 demo
  packages/demos/CLAUDE.md
  packages/demos/README.md
  packages/demos/plugins/demo-order.js
  packages/demos/plugins/demo-vintage-urls.js
  packages/demos/public/social/og-filip-test-02.png
  packages/demos/scripts/capture-og-image.mjs
  packages/demos/src/filip-test-02.js
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, prettier --write

refactor(demos): split the 1,035-line demo-shell module
  packages/demos/_partials/demo-shell-analytics.js
  packages/demos/_partials/demo-shell-banner.js
  packages/demos/_partials/demo-shell-combobox.js
  packages/demos/_partials/demo-shell-nav.js
  packages/demos/_partials/demo-shell.js
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix

fix(demos): clear the eight CSS descending-specificity warnings
  packages/demos/styles/demo-source.css
  packages/demos/styles/layout.css
Due: biome format --write --no-errors-on-unmatched --files-ignore-unknown=true

test(demos): cover virtual-demos, sitemap, channel-headers, check-demo-registry
  packages/demos/plugins/__tests__/channel-headers.test.mjs
  packages/demos/plugins/__tests__/html-escape.test.mjs
  packages/demos/plugins/__tests__/sitemap.test.mjs
  packages/demos/plugins/__tests__/virtual-demos.test.mjs
  packages/demos/plugins/channel-headers.js
  packages/demos/plugins/sitemap.js
  packages/demos/plugins/virtual-demos.js
  packages/demos/scripts/__tests__/check-demo-registry.test.mjs
  packages/demos/scripts/check-demo-registry.mjs
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix

docs(demos): fix stale shared-UI-kit counts after filip-test-02 removal
  packages/demos/CLAUDE.md
  packages/demos/README.md
Due: prettier --write

fix(demos): address CodeRabbit review on CSS specificity reorder
  packages/demos/styles/demo-source.css
  packages/demos/styles/layout.css
Due: biome format --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(demos): address CodeRabbit review on BT-497 test coverage
  packages/demos/scripts/__tests__/check-demo-registry.test.mjs
  packages/demos/scripts/check-demo-registry.mjs
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix

fix(demos): fail check:demo-registry when a demo has no OG card
  packages/demos/README.md
  packages/demos/scripts/check-demo-registry.mjs
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, prettier --write

fix(demos): tighten lint and spellcheck gates to match lint-staged
  packages/demos/package.json
Due: biome format --write --no-errors-on-unmatched --files-ignore-unknown=true

test(demos): cover the shared UI kit (BT-502)
  .claude/skills/test/SKILL.md
  .github/workflows/ci.yml
  packages/demos/CLAUDE.md
  packages/demos/package.json
  packages/demos/src/shared/__tests__/bt-stub.mjs
  packages/demos/src/shared/__tests__/ui-core.test.mjs
  packages/demos/src/shared/__tests__/ui-dpad.test.mjs
  packages/demos/src/shared/__tests__/ui-gestures.test.mjs
  packages/demos/src/shared/__tests__/ui-theme.test.mjs
  packages/demos/src/shared/__tests__/ui-widgets.test.mjs
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, biome format --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

fix(demos): use en dash in ci.yml comment (BT-502)
  .github/workflows/ci.yml
Due: prettier --write

refactor(demos): dedupe shared UI test setup helpers (BT-502)
  packages/demos/src/shared/__tests__/ui-core.test.mjs
  packages/demos/src/shared/__tests__/ui-dpad.test.mjs
  packages/demos/src/shared/__tests__/ui-test-helpers.mjs
  packages/demos/src/shared/__tests__/ui-widgets.test.mjs
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix

chore: remove dash-typography detection from hooks, commitlint, and CI
  .claude/skills/preflight/SKILL.md
  .github/workflows/ci.yml
  .husky/pre-push
  .lintstagedrc.json
  CLAUDE.md
  commitlint.config.js
  package.json
  packages/blit386/.claude/rules/environment-gotchas.md
  scripts/check-dash-typography.mjs
  scripts/check-dash-typography.test.mjs
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, biome format --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

fix(deps): patch sharp and vitest security advisories
  packages/blit386/package.json
  packages/website/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: biome format --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

fix(deps): override hono to patch three moderate advisories
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write

docs(repo): flip dash-typography policy to plain hyphen, ignore release scratch
  .gitignore
  AGENTS.md
  CLAUDE.md
Due: prettier --write

fix(website): update stale agent-skills manifest digest
  packages/website/public/.well-known/agent-skills/index.json
Due: biome format --write --no-errors-on-unmatched --files-ignore-unknown=true

chore(website): resync docs mirror lastModified after dash conversion
  packages/website/content/docs/api/assets.mdx
  packages/website/content/docs/api/audio.mdx
  packages/website/content/docs/api/browser-support.mdx
  packages/website/content/docs/api/camera.mdx
  packages/website/content/docs/api/core-types.mdx
  packages/website/content/docs/api/core.mdx
  packages/website/content/docs/api/easing.mdx
  packages/website/content/docs/api/game-loop.mdx
  packages/website/content/docs/api/overlay.mdx
  packages/website/content/docs/api/palette.mdx
  packages/website/content/docs/api/random.mdx
  packages/website/content/docs/api/rendering.mdx
  packages/website/content/docs/guides/audio.mdx
  packages/website/content/docs/guides/bitmap-fonts.mdx
  packages/website/content/docs/guides/game-loop.mdx
  packages/website/content/docs/guides/hot-reload.mdx
  packages/website/content/docs/guides/input.mdx
  packages/website/content/docs/guides/overlay.mdx
  packages/website/content/docs/guides/palette.mdx
  packages/website/content/docs/guides/post-process-effects.mdx
  packages/website/content/docs/guides/random.mdx
  packages/website/content/docs/guides/splash.mdx
  packages/website/content/docs/performance/best-practices.mdx
  packages/website/content/docs/performance/testing.mdx
  packages/website/content/docs/reference/authors.mdx
  packages/website/content/docs/reference/changelog.mdx
  packages/website/content/docs/reference/deprecations.mdx
  packages/website/content/docs/reference/testing.mdx
Due: prettier --write

chore(dx): add cursor config foundation (gitignore, format, coderabbit)
  .coderabbit.yaml
  .editorconfig
  .gitignore
  prettier.config.js
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, prettier --write
