Repository vancura/blit-tech: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck', biome format --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "biome check --write --no-errors-on-unmatched --files-ignore-unknown=true",
    "eslint --fix",
    "bash -c 'pnpm typecheck'"
  ],
  "*.{js,cjs,mjs}": ["biome check --write --no-errors-on-unmatched --files-ignore-unknown=true", "eslint --fix"],
  "*.{json,jsonc,css}": ["biome format --write --no-errors-on-unmatched --files-ignore-unknown=true"],
  "*.{md,mdx,yml,yaml}": ["prettier --write"]
}

chore: update ESLint configuration to disable no-console rule
  eslint.config.js
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix

refactor(BTAPI): enhance canvas initialization and rendering timing
  src/core/BTAPI.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

refactor(Renderer): improve texture handling and frame state management
  src/render/Renderer.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

fix(renderer): implement double requestAnimationFrame wait for canvas initialization
  src/core/BTAPI.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

chore: enhance package.json for Electron development
  package.json
  pnpm-lock.yaml
Due: biome format --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

feat: add Electron support and configuration
  .gitignore
  electron-builder.json
  electron/main.cjs
  electron/preload.cjs
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, biome format --write --no-errors-on-unmatched --files-ignore-unknown=true

docs: update README.md to include new Electron commands and deployment instructions
  README.md
Due: prettier --write

feat: enhance Vite configuration for Electron builds
  vite.config.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

chore: fix the linting errors
  eslint.config.js
  src/render/Renderer.ts
  tools/convert-bmfont.mjs
  vite.config.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

docs: remove invalid reference to ELECTRON.md
  README.md
Due: prettier --write

docs: update changeset
  .changeset/petite-areas-stick.md
  .changeset/tricky-pianos-hammer.md
Due: prettier --write

feat: Enhance security and ASAR packaging
  electron-builder.json
  electron/main.cjs
  electron/preload.cjs
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, biome format --write --no-errors-on-unmatched --files-ignore-unknown=true

docs: add pnpm Electron install instructions and config
  .npmrc
  README.md
Due: prettier --write

refactor: update Electron configuration in .npmrc and package.json
  .npmrc
  package.json
Due: biome format --write --no-errors-on-unmatched --files-ignore-unknown=true

Refactor: Improve Steam Deck compatibility and cleanup GPU crash listener
  electron/main.cjs
  electron/preload.cjs
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix

chore: update linting configuration and ESLint rules
  .lintstagedrc.json
  eslint.config.js
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, biome format --write --no-errors-on-unmatched --files-ignore-unknown=true

docs: update README.md for consistent branding and clarity
  README.md
Due: prettier --write

refactor(tools): improve convert-bmfont
  tools/convert-bmfont.mjs
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix

refactor(tools): simplify texture path resolution and extract glyph parsing logic
  tools/convert-bmfont.mjs
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix

fix(tools): validate texture file existence in convert-bmfont script
  tools/convert-bmfont.mjs
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix
