Repository vancura/blit-tech: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck', biome format --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

feat(examples): restructure examples and add new demos
  README.md
  examples/basics.html
  examples/basics.ts
  examples/camera.html
  examples/camera.ts
  examples/examples-index.html
  examples/fonts.html
  examples/fonts.ts
  examples/index.html
  examples/patterns.html
  examples/patterns.ts
  examples/primitives.html
  examples/primitives.ts
  examples/sprites.html
  examples/sprites.ts
  vite.config.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck', prettier --write

feat(prettier): update formatting rules and add Handlebars support
  .prettierignore
  README.md
  package.json
  pnpm-lock.yaml
  prettier.config.js
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, biome format --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

feat(examples): integrate Handlebars for dynamic content rendering
  examples/_config/contexts.ts
  examples/_partials/font-attribution.hbs
  examples/_partials/layout-bottom.hbs
  examples/_partials/layout-top.hbs
  examples/basics.html
  examples/camera.html
  examples/fonts.html
  examples/index.html
  examples/patterns.html
  examples/primitives.html
  examples/sprites.html
  index.html
  tsconfig.json
  vite-plugin-handlebars.d.ts
  vite.config.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck', biome format --write --no-errors-on-unmatched --files-ignore-unknown=true

chore(package): update formatting commands and dependencies
  package.json
  prettier.config.js
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, biome format --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(tailwind): integrate Tailwind CSS into the project
  package.json
  pnpm-lock.yaml
  vite.config.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck', biome format --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

feat(examples): enhance example pages with Tailwind CSS styling
  examples/_partials/font-attribution.hbs
  examples/_partials/layout-bottom.hbs
  examples/_partials/layout-top.hbs
  examples/basics.html
  examples/camera.html
  examples/fonts.html
  examples/index.html
  examples/patterns.html
  examples/primitives.html
  examples/sprites.html
  examples/styles.css
Due: biome format --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(examples): simplify context configurations by removing unused properties
  examples/_config/contexts.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

feat(biome): enhance CSS configuration with parser and linter options
  biome.json
Due: biome format --write --no-errors-on-unmatched --files-ignore-unknown=true

chore(prettier): update .prettierignore to exclude HTML files
  .prettierignore
Due: none

feat(biome): add linter configuration for TypeScript files
  biome.json
Due: biome format --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(examples): update example pages with improved content and structure
  examples/_partials/layout-bottom.hbs
  examples/_partials/layout-top.hbs
  examples/basics.html
  examples/camera.html
  examples/fonts.html
  examples/index.html
  examples/patterns.html
  examples/primitives.html
  examples/sprites.html
  index.html
Due: none

feat(examples): update camera, patterns, and primitives demos for improved display settings
  examples/camera.ts
  examples/patterns.ts
  examples/primitives.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

feat(examples): update example descriptions
  examples/basics.ts
  examples/camera.ts
  examples/fonts.ts
  examples/patterns.ts
  examples/primitives.ts
  examples/sprites.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

feat(examples): update basics example for auto-bouncing square
  examples/basics.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

chore(prettier): update configuration to exclude HTML files from formatting
  prettier.config.js
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix

feat(styles): enhance canvas rendering for cross-browser support
  examples/styles.css
Due: biome format --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor: improve type safety and error handling in asset loading and rendering
  src/assets/AssetLoader.ts
  src/assets/SpriteSheet.ts
  src/core/BTAPI.ts
  src/render/Renderer.ts
  tools/convert-bmfont.mjs
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

fix: remove duplicate lint-staged config from package.json
  package.json
Due: biome format --write --no-errors-on-unmatched --files-ignore-unknown=true

chore: update dependencies
  pnpm-lock.yaml
Due: prettier --write

chore: remove Git LFS configuration
  .gitattributes
  assets/logo.png
  examples/fonts/PragmataProRegular14_0.png
Due: none

chore: update ESLint configuration to disable no-console rule
  eslint.config.js
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix

Path conditions:
  biome check --write --no-errors-on-unmatched --files-ignore-unknown=true: (any of: *.{ts,tsx}) or (any of: *.{js,cjs,mjs})
  eslint --fix: (any of: *.{ts,tsx}) or (any of: *.{js,cjs,mjs})
  bash -c 'pnpm typecheck': any of: *.{ts,tsx}
  biome format --write --no-errors-on-unmatched --files-ignore-unknown=true: any of: *.{json,jsonc,css}
  prettier --write: any of: *.{md,mdx,yml,yaml}
