Repository vancura/blit-tech: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck', biome format --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore: update lockfile
  pnpm-lock.yaml
Due: prettier --write

chore: clean up tooling config after ai-rules migration
  .editorconfig
  .gitattributes
  .gitignore
  .husky/pre-push
  .lintstagedrc.json
  .markdownlint.json
  .prettierignore
  .zed/settings.json
  biome.json
  cspell.json
  eslint.config.js
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, biome format --write --no-errors-on-unmatched --files-ignore-unknown=true

ci: add code quality job and pin pnpm version in pr-checks workflow
  .github/workflows/pr-checks.yml
Due: prettier --write

ci: pin github actions to immutable commit shas in pr-checks workflow
  .github/workflows/pr-checks.yml
Due: prettier --write

chore: remove changesets and CHANGELOG
  .changeset/README.md
  .changeset/config.json
  .changeset/great-ants-rush.md
  .changeset/silly-eels-find.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/changeset-check.yml
  CHANGELOG.md
  CLAUDE.md
  README.md
  cspell.json
  package.json
  renovate.json
Due: biome format --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore(ci): update bug report template to use "demo" terminology
  .github/ISSUE_TEMPLATE/bug_report.yml
Due: prettier --write

refactor(api): rename IBlitTechGame to IBlitTechDemo throughout codebase
  src/BlitTech.ts
  src/core/BTAPI.ts
  src/core/IBlitTechDemo.ts
  src/utils/Bootstrap.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

docs: update "game" to "demo" terminology in docs and package metadata
  CLAUDE.md
  README.md
  docs/developer-experience-guide.md
  docs/performance-best-practices.md
  package.json
Due: biome format --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

feat(api): re-export defaultHardwareSettings from public API
  src/BlitTech.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

fix(renderer): cap fixed-update steps to prevent spiral-of-death
  src/core/BTAPI.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

chore: remove game-related keywords from package.json
  package.json
Due: biome format --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(api): validate targetFPS before computing updateInterval
  src/core/BTAPI.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

fix(api): surface real init error in bootstrap and neutralize failure message
  src/utils/Bootstrap.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

fix(api): return false instead of throwing on invalid targetFPS; log init errors
  src/core/BTAPI.ts
  src/utils/Bootstrap.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

refactor(renderer): split Renderer.ts into PrimitivePipeline and SpritePipeline
  cspell.json
  src/render/PrimitivePipeline.ts
  src/render/Renderer.ts
  src/render/SpritePipeline.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck', biome format --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(renderer): fix PrimitivePipeline early flush losing batched vertices
  src/render/PrimitivePipeline.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

docs(renderer): clarify why endFrame resets pipelines after submit
  src/render/Renderer.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

perf(renderer): use WeakMap for texture bind group cache in SpritePipeline
  src/render/SpritePipeline.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

refactor(utils): split Bootstrap.ts, extracting DOM helpers into BootstrapHelpers
  src/utils/Bootstrap.ts
  src/utils/BootstrapHelpers.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

refactor(api): split BTAPI.ts, extracting GameLoop and WebGPUContext
  src/core/BTAPI.ts
  src/core/GameLoop.ts
  src/core/WebGPUContext.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

chore: fix preflight issues — biome schema, dead export, import sources
  biome.json
  docs/developer-experience-guide.md
  src/BlitTech.ts
  src/utils/Color32.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck', biome format --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

fix(renderer): prevent partial pixel rendering when buffer fills mid-pixel
  src/render/PrimitivePipeline.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

fix(renderer): prevent infinite recursion in addVertex when buffer exhausted
  src/render/PrimitivePipeline.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

fix(core): prevent duplicate RAF chains and improve device request error handling
  src/core/GameLoop.ts
  src/core/WebGPUContext.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

chore: remove changeset references and configuration
  .npmignore
  .prettierignore
  README.md
  docs/developer-experience-guide.md
Due: prettier --write

fix(core): validate GameLoop updateInterval parameter
  src/core/GameLoop.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

docs(contributing): add preflight check step to PR submission process
  docs/developer-experience-guide.md
Due: prettier --write

refactor(utils): eliminate parameter mutation in Color32 methods
  src/utils/Color32.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

refactor(renderer): eliminate parameter mutation in line drawing algorithm
  src/render/PrimitivePipeline.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

refactor(core): standardize console log prefix to [BT]
  src/core/BTAPI.ts
  src/core/WebGPUContext.ts
  src/utils/Bootstrap.ts
  src/utils/BootstrapHelpers.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

test(utils): add testing dependencies and scripts
  package.json
  pnpm-lock.yaml
Due: biome format --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

test(utils): add vitest and playwright configurations
  playwright.config.ts
  vitest.config.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

chore(ci): configure tooling for test infrastructure
  eslint.config.js
  knip.json
  tsconfig.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, biome format --write --no-errors-on-unmatched --files-ignore-unknown=true

docs: add testing documentation
  docs/testing.md
Due: prettier --write

chore(ci): add /test skill for Claude Code
  .claude/skills/test/SKILL.md
Due: prettier --write

docs: add testing section to CLAUDE.md
  CLAUDE.md
Due: prettier --write

style: fix markdown lint and remove redundant knip config
  docs/testing.md
  knip.json
Due: biome format --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

test: add unit and integration test suite
  cspell.json
  src/__test__/setup.ts
  src/__test__/webgpu-mock.ts
  src/assets/AssetLoader.test.ts
  src/assets/BitmapFont.test.ts
  src/assets/SpriteSheet.test.ts
  src/core/GameLoop.test.ts
  src/core/IBlitTechDemo.test.ts
  src/render/PrimitivePipeline.test.ts
  src/render/Renderer.test.ts
  src/render/SpritePipeline.test.ts
  src/utils/BootstrapHelpers.test.ts
  src/utils/Color32.test.ts
  src/utils/Rect2i.test.ts
  src/utils/Vector2i.test.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck', biome format --write --no-errors-on-unmatched --files-ignore-unknown=true

test: add playwright visual regression test for primitives
  .lintstagedrc.json
  playwright.config.ts
  tests/visual/__snapshots__/primitives.spec.ts/Primitive-Rendering-should-render-known-primitive-patterns/chromium-webgpu.png
  tests/visual/fixtures/primitives.html
  tests/visual/fixtures/vite.config.ts
  tests/visual/primitives.spec.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck', biome format --write --no-errors-on-unmatched --files-ignore-unknown=true

Path conditions:
  biome check --write --no-errors-on-unmatched --files-ignore-unknown=true: (any of: *.{ts,tsx}) or (any of: *.{js,cjs,mjs})
  eslint --fix: (any of: *.{ts,tsx}) or (any of: *.{js,cjs,mjs})
  bash -c 'pnpm typecheck': any of: *.{ts,tsx}
  biome format --write --no-errors-on-unmatched --files-ignore-unknown=true: any of: *.{json,jsonc,css}
  prettier --write: any of: *.{md,mdx,yml,yaml}
