Repository vancura/blit-tech: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck', biome format --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "biome check --write --no-errors-on-unmatched --files-ignore-unknown=true",
    "eslint --fix",
    "bash -c 'pnpm typecheck'"
  ],
  "*.{js,cjs,mjs}": ["biome check --write --no-errors-on-unmatched --files-ignore-unknown=true", "eslint --fix"],
  "*.{json,jsonc,css}": ["biome format --write --no-errors-on-unmatched --files-ignore-unknown=true"],
  "*.{md,mdx,yml,yaml}": ["prettier --write"]
}

fix(tools): correct JSDoc annotation in `convert-bmfont.mjs`
  tools/convert-bmfont.mjs
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix

fix(tools): update usage instructions in convert-bmfont script
  tools/convert-bmfont.mjs
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix

fix(tools): enhance texture path validation in convert-bmfont script
  tools/convert-bmfont.mjs
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix

docs: typographic fixes
  .cursor/rules/blit-tech.mdc
  .cursor/rules/typescript.mdc
  .cursor/rules/webgpu.mdc
  .github/bugbot.yml
  electron-builder.json
  examples/_config/contexts.ts
  examples/basics.html
  examples/basics.ts
  examples/camera.ts
  examples/fonts.ts
  examples/index.html
  examples/patterns.ts
  examples/primitives.ts
  examples/sprites.ts
  index.html
  prettier.config.js
  src/BlitTech.ts
  src/core/BTAPI.ts
  src/core/IBlitTechGame.ts
  src/render/Renderer.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck', biome format --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

refactor(electron): enhance main process structure and add security features
  electron/main.cjs
  electron/preload.cjs
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix

docs: update documentation for rendering and WebGPU best practices
  .cursor/rules/blit-tech.mdc
  .cursor/rules/typescript.mdc
  .cursor/rules/webgpu.mdc
Due: none

refactor(examples): enhance code organization and documentation
  examples/basics.ts
  examples/camera.ts
  examples/fonts.ts
  examples/patterns.ts
  examples/primitives.ts
  examples/sprites.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

docs: update Electron installation instructions in README
  README.md
Due: prettier --write

refactor(examples): specify return type for showError function
  examples/fonts.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

docs: update section title
  .cursor/rules/blit-tech.mdc
Due: none

refactor(electron): update Steam Deck Game Mode compatibility comments
  electron/main.cjs
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix

refactor(examples): add region comments for better code organization
  examples/fonts.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

refactor(tools): improve comments and validation in convert-bmfont script
  tools/convert-bmfont.mjs
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix

refactor(tools): improve error handling and comments in convert-bmfont script
  tools/convert-bmfont.mjs
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix

refactor(electron): update Content Security Policy to enhance security
  electron/main.cjs
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix

refactor(electron): streamline external link handling by consolidating shell import
  electron/main.cjs
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix

refactor(tools): improve flag handling in convert-bmfont script
  tools/convert-bmfont.mjs
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix

refactor(electron): enhance GPU crash handling with detailed logging
  electron/main.cjs
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix

refactor(electron): enhance Content Security Policy for WebSocket connections
  electron/main.cjs
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix
