Repository vancura/blit-tech: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck', biome format --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

docs(overlay): fix paths and toggle corner after relocation
  .claude/skills/perf/SKILL.md
  README.md
  docs/api-core.md
  docs/performance-testing.md
  docs/testing.md
Due: prettier --write

chore(overlay): add collapse region markers to overlay modules
  src/overlay/Overlay.test.ts
  src/overlay/Overlay.ts
  src/overlay/bars/Bars.ts
  src/overlay/layout/layoutPlan.test.ts
  src/overlay/layout/layoutPlan.ts
  src/overlay/palette/PaletteView.alloc.test.ts
  src/overlay/palette/PaletteView.ts
  src/overlay/timing-chart/TimingChart.test.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

fix(overlay): place hintBarY helpers in geometry region
  src/overlay/layout/layoutPlan.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

chore: update packages
  package.json
  pnpm-lock.yaml
  vite.config.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck', biome format --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore: update packages
  package.json
  pnpm-lock.yaml
Due: biome format --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

ci(ci): add markdown link checks to preflight, pre-push, and ci
  .claude/skills/bt-preflight/SKILL.md
  .github/workflows/ci.yml
  .github/workflows/pr-checks.yml
  .husky/pre-push
  CLAUDE.md
  docs/developer-experience-guide.md
  package.json
  pnpm-lock.yaml
  scripts/check-markdown-links.mjs
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, biome format --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

fix(overlay): render palette tooltips above custom row labels
  src/overlay/Overlay.test.ts
  src/overlay/Overlay.ts
  src/overlay/OverlayDrawTarget.ts
  src/overlay/palette/PaletteInteraction.test.ts
  src/overlay/palette/PaletteInteraction.ts
  src/overlay/testFixtures.ts
  src/render/SoftwareRenderer.ts
  src/render/WebGpuRenderer.test.ts
  src/render/WebGpuRenderer.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

feat(overlay): fill row gaps and cluster separators via gapPaletteIndex
  docs/api-core.md
  src/core/IBlitTechDemo.test.ts
  src/core/IBlitTechDemo.ts
  src/overlay/Overlay.test.ts
  src/overlay/Overlay.ts
  src/overlay/bars/Bars.ts
  src/overlay/layout/layoutPlan.test.ts
  src/overlay/layout/layoutPlan.ts
  src/overlay/layout/types.ts
  src/overlay/testFixtures.ts
  src/render/WebGpuRenderer.test.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck', prettier --write

feat(overlay): add palette row viewport scroll and cap
  docs/api-core.md
  src/core/BTAPI.ts
  src/core/IBlitTechDemo.ts
  src/input/PointerInput.ts
  src/overlay/Overlay.test.ts
  src/overlay/Overlay.ts
  src/overlay/layout/layoutPlan.test.ts
  src/overlay/palette/PaletteInteraction.test.ts
  src/overlay/palette/PaletteInteraction.ts
  src/overlay/palette/PaletteView.test.ts
  src/overlay/palette/PaletteView.ts
  src/overlay/types.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck', prettier --write

fix(overlay): sanitize palette visible-row cap input
  src/overlay/palette/PaletteView.test.ts
  src/overlay/palette/PaletteView.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

feat(overlay): add inline toggle hint icon mask data
  src/overlay/toggleIconData.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

feat(overlay): replace toggle hint text with bitmap icon
  src/core/IBlitTechDemo.ts
  src/overlay/Overlay.ts
  src/overlay/OverlayToggleIcon.ts
  src/overlay/bars/Bars.ts
  src/overlay/constants.ts
  src/overlay/index.ts
  src/overlay/layout/constants.ts
  src/overlay/layout/layoutHelpers.ts
  src/overlay/layout/layoutPlan.ts
  src/overlay/layout/types.ts
  src/overlay/palette/PaletteInteraction.ts
  src/overlay/palette/PaletteView.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

test(overlay): cover toggle hint bitmap icon draw paths
  src/overlay/Overlay.test.ts
  src/overlay/OverlayToggleIcon.test.ts
  src/overlay/layout/layoutHelpers.test.ts
  src/overlay/layout/layoutPlan.test.ts
  src/overlay/palette/PaletteInteraction.test.ts
  src/overlay/palette/PaletteView.alloc.test.ts
  src/overlay/palette/PaletteView.bench.ts
  src/overlay/palette/PaletteView.test.ts
  src/overlay/testFixtures.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

docs(overlay): document bitmap toggle hint icon behavior
  docs/api-core.md
Due: prettier --write

feat(overlay): add timing chart severity tints for drops and over-budget
  src/core/BTAPI.test.ts
  src/core/BTAPI.ts
  src/core/IBlitTechDemo.ts
  src/overlay/Overlay.test.ts
  src/overlay/Overlay.ts
  src/overlay/timing-chart/TimingChart.test.ts
  src/overlay/timing-chart/TimingChart.ts
  src/overlay/timing-chart/severity.test.ts
  src/overlay/timing-chart/severity.ts
  src/overlay/timing-chart/style.ts
  src/overlay/types.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

docs(api): document timing chart severity tints and thresholds
  docs/api-core.md
Due: prettier --write

fix(overlay): correct comment typo and stale test title
  src/overlay/layout/layoutHelpers.test.ts
  src/overlay/toggleIconData.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

ci(ci): ignore contributor-covenant.org and conventionalcommits.org in link checks
  .github/markdown-link-check.json
Due: biome format --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(overlay): add timing chart grid lines and bottom-anchored dots
  src/core/IBlitTechDemo.ts
  src/overlay/index.ts
  src/overlay/timing-chart/TimingChart.test.ts
  src/overlay/timing-chart/TimingChart.ts
  src/overlay/timing-chart/constants.ts
  src/overlay/timing-chart/style.test.ts
  src/overlay/timing-chart/style.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

docs(api): document timing chart grid lines and gridPaletteIndex
  docs/api-core.md
Due: prettier --write

feat(overlay): add scrolling timing chart event tags via BT.assignTag
  docs/api-core.md
  src/BlitTech.test.ts
  src/BlitTech.ts
  src/core/BTAPI.test.ts
  src/core/BTAPI.ts
  src/core/IBlitTechDemo.ts
  src/overlay/Overlay.test.ts
  src/overlay/Overlay.ts
  src/overlay/index.ts
  src/overlay/testFixtures.ts
  src/overlay/timing-chart/TimingChart.test.ts
  src/overlay/timing-chart/TimingChart.ts
  src/overlay/timing-chart/constants.ts
  src/overlay/timing-chart/style.test.ts
  src/overlay/timing-chart/style.ts
  src/overlay/timing-chart/tags.test.ts
  src/overlay/timing-chart/tags.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck', prettier --write

ci(ci): raise bundle size limit to 55 KB
  .github/workflows/pr-checks.yml
Due: prettier --write

feat(overlay): extend timing snapshot with renderer pipeline diagnostics
  src/core/BTAPI.test.ts
  src/core/BTAPI.ts
  src/overlay/Overlay.test.ts
  src/overlay/index.ts
  src/overlay/timing-chart/TimingChart.test.ts
  src/overlay/types.ts
  src/render/PrimitivePipeline.test.ts
  src/render/PrimitivePipeline.ts
  src/render/SpritePipeline.test.ts
  src/render/SpritePipeline.ts
  src/render/WebGpuRenderer.test.ts
  src/render/WebGpuRenderer.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

feat(overlay): add diagnostics chart modes, text bar, and software counts
  docs/api-core.md
  src/core/BTAPI.ts
  src/core/IBlitTechDemo.test.ts
  src/core/IBlitTechDemo.ts
  src/overlay/Overlay.test.ts
  src/overlay/Overlay.ts
  src/overlay/bars/Bars.ts
  src/overlay/layout/layoutPlan.test.ts
  src/overlay/layout/layoutPlan.ts
  src/overlay/layout/types.ts
  src/overlay/sampling/TimingSampler.ts
  src/overlay/timing-chart/TimingChart.test.ts
  src/overlay/timing-chart/TimingChart.ts
  src/overlay/timing-chart/constants.ts
  src/overlay/timing-chart/style.ts
  src/overlay/types.ts
  src/render/IRenderer.ts
  src/render/SoftwareRenderer.test.ts
  src/render/SoftwareRenderer.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck', prettier --write

docs(overlay): expand diagnostics constant and gridPalette JSDoc
  src/core/IBlitTechDemo.ts
  src/overlay/timing-chart/constants.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

docs: remove Linear VV-* references and sync overlay docs
  .claude/skills/perf/SKILL.md
  .github/ISSUE_TEMPLATE/security-risk-acceptance.yml
  CLAUDE.md
  README.md
  docs/api-core.md
  docs/performance-testing.md
  docs/post-process-effects.md
  docs/security/security-runbook.md
  docs/software-fallback-smoke-matrix.md
  src/BlitTech.ts
  src/assets/SpriteSheet.ts
  src/core/BTAPI.test.ts
  src/core/BTAPI.ts
  src/core/IBlitTechDemo.ts
  src/input/GamepadInput.ts
  src/input/KeyboardInput.ts
  src/input/defaultKeyboardMap.ts
  src/overlay/Overlay.test.ts
  src/overlay/Overlay.ts
  src/overlay/OverlayToggleIcon.ts
  src/overlay/layout/layoutPlan.ts
  src/overlay/palette/PaletteInteraction.test.ts
  src/overlay/palette/PaletteInteraction.ts
  src/overlay/palette/PaletteView.alloc.test.ts
  src/overlay/palette/PaletteView.ts
  src/overlay/timing-chart/TimingChart.ts
  src/overlay/timing-chart/constants.ts
  src/overlay/timing-chart/severity.ts
  src/overlay/timing-chart/tags.ts
  src/overlay/toggleIconData.ts
  src/render/effects/presets/amber.ts
  src/render/effects/presets/green.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck', prettier --write

chore: release 1.1.0
  package.json
  src/core/BTAPI.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck', biome format --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(core): lazy-load WebGpuRenderer for software fallback without WebGPU globals
  CLAUDE.md
  README.md
  docs/api-core.md
  docs/software-fallback-smoke-matrix.md
  docs/testing.md
  src/core/BTAPI.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck', prettier --write

docs(testing): use backticks for WebGpuRenderer in BTAPI bullet
  docs/testing.md
Due: prettier --write

refactor(utils): rename Timer.tick to shouldFire
  docs/api-core.md
  src/utils/Timer.test.ts
  src/utils/Timer.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck', prettier --write

refactor(assets): rename Palette.dirty to isDirty
  docs/api-palette.md
  src/assets/Palette.test.ts
  src/assets/Palette.ts
  src/assets/PaletteEffect.test.ts
  src/render/WebGpuRenderer.test.ts
  src/render/WebGpuRenderer.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck', prettier --write

refactor(utils): rename equals to isEqual and equalsXY to isEqualXY
  src/BlitTech.test.ts
  src/assets/Palette.test.ts
  src/assets/Palette.ts
  src/assets/PaletteEffect.test.ts
  src/assets/SpriteSheet.test.ts
  src/utils/CameraUtils.test.ts
  src/utils/Color32.bench.ts
  src/utils/Color32.test.ts
  src/utils/Color32.ts
  src/utils/Rect2i.test.ts
  src/utils/Rect2i.ts
  src/utils/Vector2i.bench.ts
  src/utils/Vector2i.test.ts
  src/utils/Vector2i.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

refactor(utils): rename Rect2i contains to isContaining and isContainingXY
  src/overlay/layout/layoutHelpers.ts
  src/overlay/palette/PaletteInteraction.test.ts
  src/utils/Rect2i.bench.ts
  src/utils/Rect2i.test.ts
  src/utils/Rect2i.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

refactor(utils): rename Rect2i.intersects to isIntersecting
  src/utils/Rect2i.bench.ts
  src/utils/Rect2i.test.ts
  src/utils/Rect2i.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

refactor(utils): rename Timer.shouldFire to fireIfElapsed
  src/utils/Timer.test.ts
  src/utils/Timer.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

refactor(overlay): rename enabled and bodyVisible getters to isEnabled and isBodyVisible
  src/core/BTAPI.test.ts
  src/overlay/Overlay.test.ts
  src/overlay/Overlay.ts
  src/overlay/input/Toggle.ts
  src/overlay/palette/PaletteView.ts
  src/overlay/timing-chart/TimingChart.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

refactor(renderer): rename WebGpuRenderer paletteDirty to isPaletteDirty
  src/render/WebGpuRenderer.test.ts
  src/render/WebGpuRenderer.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

refactor(input): rename pointer validity checks to isActive and isPointerActive
  src/BlitTech.test.ts
  src/input/PointerInput.test.ts
  src/input/PointerInput.ts
  src/overlay/palette/PaletteInteraction.test.ts
  src/overlay/palette/PaletteInteraction.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

refactor(assets): rename SpriteSheet.isIndexized to isIndexed
  src/assets/SpriteSheet.test.ts
  src/assets/SpriteSheet.ts
  src/assets/SystemFont.test.ts
  src/core/BTAPI.test.ts
  src/core/BTAPI.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

refactor(api): rename input query methods to isDown, isPressed, and isKeyDown
  src/BlitTech.test.ts
  src/BlitTech.ts
  src/input/KeyboardInput.ts
  src/input/PointerInput.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

Path conditions:
  biome check --write --no-errors-on-unmatched --files-ignore-unknown=true: (any of: *.{ts,tsx}) or (any of: *.{js,cjs,mjs})
  eslint --fix: (any of: *.{ts,tsx}) or (any of: *.{js,cjs,mjs})
  bash -c 'pnpm typecheck': any of: *.{ts,tsx}
  biome format --write --no-errors-on-unmatched --files-ignore-unknown=true: any of: *.{json,jsonc,css}
  prettier --write: any of: *.{md,mdx,yml,yaml}
