Repository vancura/blit-tech: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck', biome format --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

docs: update developer-experience-guide.md
  docs/developer-experience-guide.md
Due: prettier --write

docs: update documentation
  docs/developer-experience-guide.md
  docs/performance-best-practices.md
Due: prettier --write

docs: enhance developer experience and testing guides
  ai-rules/blit-tech.mdc
  ai-rules/file-structure.mdc
  docs/developer-experience-guide.md
  docs/performance-best-practices.md
  docs/testing-guide.md
Due: prettier --write

chore(changeset): update changeset
  .changeset/rare-rockets-say.md
Due: prettier --write

chore: update Markdown linter settings
  .github/markdown-link-check.json
Due: biome format --write --no-errors-on-unmatched --files-ignore-unknown=true

docs: add reference to blit-tech.mdc for project-wide rules
  ai-rules/file-structure.mdc
Due: none

chore: update Markdown link patterns to include end anchors
  .github/markdown-link-check.json
Due: biome format --write --no-errors-on-unmatched --files-ignore-unknown=true

chore: remove unused dependencies and update configuration
  .prettierignore
  package.json
  prettier.config.js
  vite-plugin-handlebars.d.ts
  wrangler.jsonc
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck', biome format --write --no-errors-on-unmatched --files-ignore-unknown=true

chore(changeset): update changeset
  .changeset/twelve-zoos-trade.md
Due: prettier --write

fix(ci): sync pnpm-lock.yaml with package.json
  pnpm-lock.yaml
Due: prettier --write

docs: update branding and docs assets
  .changeset/tasty-turtles-build.md
  CHANGELOG.md
  README.md
  cspell.json
Due: biome format --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore(changeset): update changeset
  .changeset/calm-eggs-hang.md
Due: prettier --write

chore(release): v0.2.0
  .changeset/bootstrap-utilities.md
  .changeset/calm-eggs-hang.md
  .changeset/ci-dx-improvements.md
  .changeset/legal-seas-roll.md
  .changeset/modern-aliens-worry.md
  .changeset/moody-chairs-wish.md
  .changeset/polite-mice-shine.md
  .changeset/pretty-lemons-flash.md
  .changeset/rare-rockets-say.md
  .changeset/some-banks-say.md
  .changeset/tasty-turtles-build.md
  .changeset/twelve-zoos-trade.md
  .changeset/yummy-donkeys-invent.md
  CHANGELOG.md
  package.json
Due: biome format --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore(release): fix the minor changelog duplication
  CHANGELOG.md
Due: prettier --write

chore(changeset): add condition to skip changeset verification for dependabot
  .github/workflows/changeset-check.yml
Due: prettier --write

chore: update configuration files and enhance linting rules
  .github/workflows/pr-checks.yml
  .prettierignore
  biome.json
  cspell.json
  eslint.config.js
  package.json
  prettier.config.js
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, biome format --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

feat: add DCO support
  .github/workflows/dco.yml
  CONTRIBUTING.md
  README.md
  ai-rules/blit-tech.mdc
  cspell.json
Due: biome format --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore: update changeset
  .changeset/silly-eels-find.md
Due: prettier --write

fix(DCO): fix the script
  .github/workflows/dco.yml
Due: prettier --write

fix(DCO): update rebase instructions and improve commit handling in workflow
  .github/workflows/dco.yml
Due: prettier --write

chore: update lockfile
  .npmrc
  pnpm-lock.yaml
Due: prettier --write

fix: add pnpm overrides to match lockfile
  package.json
Due: biome format --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(ci): skip merge commits in DCO validation
  .github/workflows/dco.yml
Due: prettier --write

fix(ci): update actions
  .github/workflows/ci.yml
  .github/workflows/pr-checks.yml
Due: prettier --write

fix(ci): update the pnpm version
  package.json
Due: biome format --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(ci): update pnpm version to 10.26.2
  .github/workflows/pr-checks.yml
Due: prettier --write

chore(changeset): update changeset
  .changeset/great-ants-rush.md
Due: prettier --write

chore(changeset): update changeswt
  .changeset/great-ants-rush.md
Due: prettier --write

chore(ci): add Claude Code settings and project skills
  .claude/settings.json
  .claude/skills/deep-review/SKILL.md
  .claude/skills/format/SKILL.md
  .claude/skills/pr/SKILL.md
  .claude/skills/preflight/SKILL.md
  .claude/skills/quick-format/SKILL.md
  .claude/skills/review/SKILL.md
  .claude/skills/spellcheck/SKILL.md
Due: biome format --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore(scripts): remove sync-rules script and package.json config
  package.json
  scripts/sync-rules.mjs
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, biome format --write --no-errors-on-unmatched --files-ignore-unknown=true

chore(ci): replace Dependabot with Renovate for dependency updates
  .github/dependabot.yml
  renovate.json
Due: biome format --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore(ci): replace sed with jq for robust file_path parsing in hook
  .claude/settings.json
Due: biome format --write --no-errors-on-unmatched --files-ignore-unknown=true

chore(ci): clean up renovate config schedule, limits, and rule accuracy
  renovate.json
Due: biome format --write --no-errors-on-unmatched --files-ignore-unknown=true

docs: migrate ai rules from ai-rules/*.mdc to CLAUDE.md
  CLAUDE.md
  ai-rules/blit-tech.mdc
  ai-rules/file-structure.mdc
  ai-rules/typescript.mdc
  ai-rules/webgpu.mdc
Due: prettier --write

chore: remove VSCode settings
  .vscode/extensions.json
  .vscode/settings.json
Due: biome format --write --no-errors-on-unmatched --files-ignore-unknown=true

chore(ci): add GitHub issue templates and PR template
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/PULL_REQUEST_TEMPLATE.md
Due: prettier --write

docs: add CODE_OF_CONDUCT, SECURITY, CODEOWNERS and link from README
  CODEOWNERS
  CODE_OF_CONDUCT.md
  README.md
  SECURITY.md
Due: prettier --write

docs: fix minor style issues in CLAUDE.md
  CLAUDE.md
Due: prettier --write

chore: add knip for dead code detection
  knip.json
  package.json
Due: biome format --write --no-errors-on-unmatched --files-ignore-unknown=true

chore: fix the URL
  package.json
Due: biome format --write --no-errors-on-unmatched --files-ignore-unknown=true

Path conditions:
  biome check --write --no-errors-on-unmatched --files-ignore-unknown=true: (any of: *.{ts,tsx}) or (any of: *.{js,cjs,mjs})
  eslint --fix: (any of: *.{ts,tsx}) or (any of: *.{js,cjs,mjs})
  bash -c 'pnpm typecheck': any of: *.{ts,tsx}
  biome format --write --no-errors-on-unmatched --files-ignore-unknown=true: any of: *.{json,jsonc,css}
  prettier --write: any of: *.{md,mdx,yml,yaml}
