Repository vancura/blit-tech: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck', biome format --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "biome check --write --no-errors-on-unmatched --files-ignore-unknown=true",
    "eslint --fix",
    "bash -c 'pnpm typecheck'"
  ],
  "*.{js,cjs,mjs}": ["biome check --write --no-errors-on-unmatched --files-ignore-unknown=true", "eslint --fix"],
  "*.{json,jsonc,css}": ["biome format --write --no-errors-on-unmatched --files-ignore-unknown=true"],
  "*.{md,mdx,yml,yaml}": ["prettier --write"]
}

test(input): harden button input tests and align input subsystem docs
  src/BlitTech.test.ts
  src/BlitTech.ts
  src/core/BTAPI.test.ts
  src/core/BTAPI.ts
  src/input/GamepadInput.test.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

fix(input): compute merged button edges across keyboard and gamepad
  src/BlitTech.test.ts
  src/BlitTech.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

test(input): reset buttonDown input maps between tests
  src/BlitTech.test.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

test(input): cover uninitialized gamepad fallbacks in BT facade tests
  src/BlitTech.test.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

fix(input): preserve repeatRate presses during dual-source button holds
  src/BlitTech.test.ts
  src/BlitTech.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

test(input): assert BT gamepad facade argument forwarding
  src/BlitTech.test.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

refactor(api): rename initialize to init across engine lifecycle
  CLAUDE.md
  README.md
  docs/input.md
  docs/post-process-effects.md
  src/BlitTech.test.ts
  src/BlitTech.ts
  src/core/BTAPI.test.ts
  src/core/BTAPI.ts
  src/core/IBlitTechDemo.ts
  src/core/WebGPUContext.test.ts
  src/core/WebGPUContext.ts
  src/render/PrimitivePipeline.test.ts
  src/render/PrimitivePipeline.ts
  src/render/Renderer.test.ts
  src/render/Renderer.ts
  src/render/SpritePipeline.test.ts
  src/render/SpritePipeline.ts
  src/render/effects/FullscreenEffect.ts
  src/utils/Bootstrap.test.ts
  src/utils/Bootstrap.ts
  tests/visual/fixtures/camera.html
  tests/visual/fixtures/fonts.html
  tests/visual/fixtures/mixed.html
  tests/visual/fixtures/post-process.html
  tests/visual/fixtures/primitives.html
  tests/visual/fixtures/sprites.html
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck', prettier --write

fix(renderer): reset lastFrameMs on init
  src/render/Renderer.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

fix(renderer): destroy stale gpu resources before recreating pipeline
  src/render/PrimitivePipeline.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

refactor(api): align #region markers across bt, btapi, renderer, and input
  src/BlitTech.ts
  src/core/BTAPI.ts
  src/input/GamepadInput.ts
  src/input/KeyboardInput.ts
  src/render/Renderer.test.ts
  src/render/Renderer.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

refactor(api): reorganize btapi and renderer #region sections
  src/core/BTAPI.ts
  src/render/Renderer.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

refactor(api): rename queryHardware to configure, expand default config
  CLAUDE.md
  README.md
  docs/input.md
  docs/performance-best-practices.md
  docs/post-process-effects.md
  docs/testing.md
  src/BlitTech.test.ts
  src/BlitTech.ts
  src/core/BTAPI.test.ts
  src/core/BTAPI.ts
  src/core/IBlitTechDemo.test.ts
  src/core/IBlitTechDemo.ts
  src/render/Renderer.ts
  src/utils/Bootstrap.test.ts
  src/utils/Bootstrap.ts
  tests/visual/fixtures/camera.html
  tests/visual/fixtures/fonts.html
  tests/visual/fixtures/mixed.html
  tests/visual/fixtures/post-process.html
  tests/visual/fixtures/primitives.html
  tests/visual/fixtures/sprites.html
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck', prettier --write

refactor(examples): rely on engine defaultConfig and refresh demo registry
  README.md
  src/core/BTAPI.ts
  src/core/IBlitTechDemo.test.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck', prettier --write

test(core): add assertion for canvasDisplaySize uniqueness in IBlitTechDemo
  src/core/IBlitTechDemo.test.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

feat(camera): add BT.cameraClamp and extract clampCameraToWorld utility
  CLAUDE.md
  README.md
  docs/testing.md
  src/BlitTech.test.ts
  src/BlitTech.ts
  src/assets/SpriteSheet.test.ts
  src/assets/SpriteSheet.ts
  src/utils/CameraUtils.test.ts
  src/utils/CameraUtils.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck', prettier --write

fix(api): harden BT timing helpers and tighten camera/indexed docs tests
  README.md
  src/BlitTech.test.ts
  src/BlitTech.ts
  src/assets/SpriteSheet.test.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck', prettier --write

test(visual): refresh stale visual regression snapshots
  tests/visual/__snapshots__/camera.spec.ts/Camera-Rendering-should-offset-all-geometry-by-the-camera-position/chromium-webgpu.png
  tests/visual/__snapshots__/fonts.spec.ts/Font-Rendering-should-render-placeholder-text-at-known-positions/chromium-webgpu.png
  tests/visual/__snapshots__/mixed.spec.ts/Mixed-Rendering-should-render-primitives-and-sprites-together-with-correct-layering/chromium-webgpu.png
  tests/visual/__snapshots__/post-process.spec.ts/Post-Process-Effects-PixelGlitch-alone-pixel-tier-chunky-bands-at-logical-resolution-/chromium-webgpu.png
  tests/visual/__snapshots__/post-process.spec.ts/Post-Process-Effects-baseline-scene-renders-without-effects-no-chain-/chromium-webgpu.png
  tests/visual/__snapshots__/primitives.spec.ts/Primitive-Rendering-should-render-known-primitive-patterns/chromium-webgpu.png
  tests/visual/__snapshots__/sprites.spec.ts/Sprite-Rendering-should-render-palette-indexed-sprites-with-offset-and-batching/chromium-webgpu.png
Due: none

test(api): cover non-finite fps fallback and document deltaSeconds behavior
  src/BlitTech.test.ts
  src/BlitTech.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

feat(assets): add SpriteSheet dimension accessors and fullRect helper
  src/assets/SpriteSheet.test.ts
  src/assets/SpriteSheet.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

fix(assets): rewrite asset load errors with beginner-friendly guidance
  src/assets/AssetLoader.test.ts
  src/assets/AssetLoader.ts
  src/assets/BitmapFont.test.ts
  src/assets/BitmapFont.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

fix(assets): handle query/hash suffixes in asset extension hints
  src/assets/AssetLoader.test.ts
  src/assets/AssetLoader.ts
  src/assets/BitmapFont.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

fix(api): simplify bootstrap init and canvas error copy for beginners
  src/utils/Bootstrap.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

fix(utils): rewrite Color32 fromHex errors with beginner-friendly guidance
  src/utils/Color32.test.ts
  src/utils/Color32.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

fix(utils): harden Color32 hex parsing against partial tokens
  src/utils/Color32.test.ts
  src/utils/Color32.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

fix(api): add beginner runtime guards and canvas error guidance
  src/BlitTech.test.ts
  src/BlitTech.ts
  src/assets/AssetLoader.ts
  src/assets/BitmapFont.ts
  src/utils/Bootstrap.test.ts
  src/utils/Bootstrap.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

test(api): fix bootstrap test formatting for ci
  src/utils/Bootstrap.test.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

test(api): tighten drawPixel docs and guard test helpers
  src/BlitTech.test.ts
  src/BlitTech.ts
  src/utils/Bootstrap.test.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

test(api): make error-container cleanup deterministic in BT tests
  src/BlitTech.test.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

fix(api): extend beginner trap detection and polish palette messages
  src/BlitTech.test.ts
  src/BlitTech.ts
  src/assets/Palette.test.ts
  src/assets/Palette.ts
  src/utils/Vector2i.test.ts
  src/utils/Vector2i.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

fix(api): sync error-preview wording and route GPU failures to canvas
  src/core/BTAPI.test.ts
  src/core/WebGPUContext.test.ts
  src/core/WebGPUContext.ts
  src/utils/Bootstrap.ts
  src/utils/BootstrapHelpers.test.ts
  src/utils/BootstrapHelpers.ts
  src/utils/errorMessages.test.ts
  src/utils/errorMessages.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

fix(api): unify palette and sprite error wording across the engine
  src/BlitTech.test.ts
  src/BlitTech.ts
  src/assets/Palette.test.ts
  src/assets/Palette.ts
  src/assets/SpriteSheet.ts
  src/core/BTAPI.test.ts
  src/core/BTAPI.ts
  src/render/Renderer.test.ts
  src/render/Renderer.ts
  src/utils/FrameCapture.ts
  src/utils/errorMessages.test.ts
  src/utils/errorMessages.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

feat(utils): add Rec.601 Color32 luminance accessor
  CLAUDE.md
  src/assets/SpriteSheet.test.ts
  src/assets/SpriteSheet.ts
  src/utils/Color32.bench.ts
  src/utils/Color32.test.ts
  src/utils/Color32.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck', prettier --write

feat(utils): add tick-based Timer helper for update loop intervals
  README.md
  src/BlitTech.ts
  src/utils/Timer.test.ts
  src/utils/Timer.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck', prettier --write

test(assets): fix stale Palette error-message assertion for negative index
  src/assets/Palette.test.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

fix(utils): harden Timer against tick rewind and stabilize unit baselines
  src/utils/Timer.test.ts
  src/utils/Timer.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

feat(utils): add Color32 named color registry and management APIs
  CLAUDE.md
  README.md
  src/utils/Color32.test.ts
  src/utils/Color32.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck', prettier --write

fix(utils): prevent timer lock on hard tick-counter rewind
  src/utils/Timer.test.ts
  src/utils/Timer.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

fix(utils): sync alias keys on Color32 registry mutation
  src/utils/Color32.test.ts
  src/utils/Color32.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

test(utils): guard Color32 registry tests with try/finally cleanup
  src/utils/Color32.test.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'
