Repository vancura/blit-tech: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck', biome format --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

fix(dx): use en dash in coderabbit.yaml comment
  .coderabbit.yaml
Due: prettier --write

feat(dx): add cursor rules-parity and cursor-mcp checks to agents:check
  scripts/check-agent-config.mjs
  scripts/check-agent-config.test.mjs
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix

feat(dx): restore cursor rule mirrors for docs-sync-required and named-constants
  .cursor/rules/docs-sync-required.mdc
  .cursor/rules/named-constants.mdc
Due: none

feat(dx): restore scripts/sync-cursor-commands.mjs generator
  scripts/sync-cursor-commands.mjs
  scripts/sync-cursor-commands.test.mjs
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix

feat(dx): wire sync-cursor-commands into scripts, pre-commit, and CI
  .cursor/commands/deep-review.md
  .cursor/commands/demos-new.md
  .cursor/commands/format.md
  .cursor/commands/issue-audit.md
  .cursor/commands/kit-audit.md
  .cursor/commands/perf.md
  .cursor/commands/pr.md
  .cursor/commands/preflight.md
  .cursor/commands/quick-format.md
  .cursor/commands/release-review.md
  .cursor/commands/release.md
  .cursor/commands/review.md
  .cursor/commands/security-run.md
  .cursor/commands/spellcheck.md
  .cursor/commands/test.md
  .github/workflows/ci.yml
  .lintstagedrc.json
  .prettierignore
  package.json
Due: biome format --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

feat(dx): restore cursor hooks (format-on-edit, shell-safety)
  .claude/hooks/shell-safety.sh
  .cursor/hooks.json
  .cursor/hooks/format-and-check.sh
  .cursor/hooks/shell-safety.sh
  packages/kit/content/hooks/shell-safety.sh
Due: biome format --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(dx): restore cursor mcp config for blit386-docs
  .cursor/mcp.json
Due: biome format --write --no-errors-on-unmatched --files-ignore-unknown=true

docs(dx): document restored cursor support
  CONTRIBUTING.md
  packages/blit386/CLAUDE.md
  packages/blit386/docs/developer-experience-guide.md
  packages/blit386/docs/reference-testing.md
Due: prettier --write

fix(dx): update compact-tables test for .mdc support
  scripts/prettier-plugin-compact-tables.test.mjs
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix

fix(dx): close cross-task gaps found in cursor-restore final review
  .claude/skills/format/SKILL.md
  .claude/skills/preflight/SKILL.md
  .cursor/commands/deep-review.md
  .cursor/commands/demos-new.md
  .cursor/commands/format.md
  .cursor/commands/issue-audit.md
  .cursor/commands/kit-audit.md
  .cursor/commands/perf.md
  .cursor/commands/pr.md
  .cursor/commands/preflight.md
  .cursor/commands/quick-format.md
  .cursor/commands/release-review.md
  .cursor/commands/release.md
  .cursor/commands/review.md
  .cursor/commands/security-run.md
  .cursor/commands/spellcheck.md
  .cursor/commands/test.md
  .husky/pre-push
  .lintstagedrc.json
  package.json
Due: biome format --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

style(dx): normalize en/em dashes to plain hyphens in cursor restore
  .coderabbit.yaml
  .cursor/rules/docs-sync-required.mdc
  .cursor/rules/named-constants.mdc
  packages/blit386/CLAUDE.md
  packages/blit386/docs/developer-experience-guide.md
  packages/kit/content/hooks/shell-safety.sh
  scripts/check-agent-config.mjs
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, prettier --write

docs(website): resync docs mirror after cursor-restore dash conversion
  packages/website/content/docs/reference/testing.mdx
Due: prettier --write

fix(dx): correct cursor globs syntax and lint-staged race
  .cursor/rules/docs-sync-required.mdc
  .cursor/rules/named-constants.mdc
  .lintstagedrc.json
Due: biome format --write --no-errors-on-unmatched --files-ignore-unknown=true

docs(demos): fix stale counts, paths, and facts in README and docs
  packages/demos/README.md
  packages/demos/docs/EXTERNAL-DEVELOPER-SETUP.md
  packages/demos/docs/SECURITY-HEADERS.md
Due: prettier --write

feat(demos): gate the README demo list against the registry
  .lintstagedrc.json
  packages/demos/CLAUDE.md
  packages/demos/scripts/__tests__/check-demo-registry.test.mjs
  packages/demos/scripts/check-demo-registry.mjs
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, biome format --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

fix(demos): scan every README demo link on a line, not just the first
  packages/demos/scripts/__tests__/check-demo-registry.test.mjs
  packages/demos/scripts/check-demo-registry.mjs
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix

docs(kit): teach the 1.7.0 engine surface to kit rules, docs, and skills
  packages/create-blit386/templates/base/README.md
  packages/kit/CLAUDE.md
  packages/kit/content/docs/basics.md
  packages/kit/content/docs/palette.md
  packages/kit/content/docs/when-something-breaks.md
  packages/kit/content/rules/blit-api-names.md
  packages/kit/content/skills/add-crt-effect/SKILL.md
  packages/kit/content/skills/add-text/SKILL.md
  packages/kit/content/skills/animate-the-palette/SKILL.md
  packages/kit/content/skills/keep-it-fast/SKILL.md
  packages/kit/content/skills/read-pointer/SKILL.md
  packages/kit/content/skills/save-a-screenshot/SKILL.md
  packages/kit/content/skills/use-dev-mode/SKILL.md
  packages/kit/content/skills/use-palette/SKILL.md
  packages/kit/package.json
  packages/kit/test/doctor.test.mjs
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, biome format --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

fix(kit): correct the fillBlock examples and broaden the reduced-motion effect list
  packages/kit/content/docs/palette.md
  packages/kit/content/skills/add-crt-effect/SKILL.md
  packages/kit/content/skills/use-dev-mode/SKILL.md
  packages/kit/content/skills/use-palette/SKILL.md
Due: prettier --write

feat(demos): add a reduced-motion demo
  packages/demos/README.md
  packages/demos/plugins/demo-order.js
  packages/demos/public/social/og-reduced-motion.png
  packages/demos/scripts/capture-og-image.mjs
  packages/demos/src/reduced-motion.js
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, prettier --write

chore: ignore .codegraph/ local index directory
  .gitignore
Due: none

docs(changelog): add the 1.7.0 section and the Palette @changed tag for fillBlock
  packages/blit386/docs/_api-history.json
  packages/blit386/docs/changelog.md
  packages/blit386/src/assets/Palette.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck', biome format --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

docs(website): sync the docs mirror after the 1.7.0 changelog section
  packages/website/content/docs/reference/changelog.mdx
  packages/website/src/data/api-history.generated.json
Due: biome format --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

docs(core): add missing HardwareSettings flags to bt-api-getters.md
  packages/blit386/.claude/rules/bt-api-getters.md
Due: prettier --write

feat(content): add the 1.7.0 release blog post
  packages/website/content/blog/meta.json
  packages/website/content/blog/performance-release-1-7-0.mdx
Due: biome format --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

fix(website): render frontmatter dates on blog tag pages
  packages/website/press.config.tsx
  packages/website/src/blog-post-date.test.ts
  packages/website/src/blog-post-date.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

chore(repo): state the hyphen-minus dash convention in coderabbit.yaml
  .coderabbit.yaml
Due: prettier --write

feat(content): embed the reduced-motion demo in the 1.7.0 post
  packages/website/content/blog/performance-release-1-7-0.mdx
Due: prettier --write

chore(release): 1.7.0
  packages/blit386/docs/changelog.md
  packages/blit386/package.json
  packages/blit386/src/core/BTAPI.ts
  packages/create-blit386/package.json
  packages/create-blit386/src/scaffold.ts
  packages/create-blit386/test/scaffold.test.mjs
  packages/kit/package.json
  packages/kit/test/doctor.test.mjs
  packages/website/content/docs/reference/changelog.mdx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck', biome format --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

docs(website): resync changelog mirror lastModified after 1.7.0 commit
  packages/website/content/docs/reference/changelog.mdx
Due: prettier --write

chore(release): regenerate the api history manifest after the 1.7.0 tag
  packages/blit386/docs/_api-history.json
  packages/blit386/scripts/gen-api-history.mjs
  packages/website/src/data/api-history.generated.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, biome format --write --no-errors-on-unmatched --files-ignore-unknown=true

Path conditions:
  biome check --write --no-errors-on-unmatched --files-ignore-unknown=true: (any of: *.{ts,tsx}) or (any of: *.{js,cjs,mjs})
  eslint --fix: (any of: *.{ts,tsx}) or (any of: *.{js,cjs,mjs})
  bash -c 'pnpm typecheck': any of: *.{ts,tsx}
  biome format --write --no-errors-on-unmatched --files-ignore-unknown=true: any of: *.{json,jsonc,css}
  prettier --write: any of: *.{md,mdx,yml,yaml}
