Repository vancura/blit-tech: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck', biome format --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

fix(assets): validate embedded btfont data uris case-insensitively
  src/assets/BitmapFont.ts
  src/utils/AssetLimits.test.ts
  src/utils/AssetLimits.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

chore(ci): add release skill for semver release notes generation
  .claude/skills/release/SKILL.md
  cspell.json
Due: biome format --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore(ci): raise release skill gh pr list limit from 100 to 500
  .claude/skills/release/SKILL.md
Due: prettier --write

chore(release): bump version to 1.0.5
  package.json
  src/core/BTAPI.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck', biome format --write --no-errors-on-unmatched --files-ignore-unknown=true

chore(docs): namespace skills as bt-* and standardize on pnpm run
  .claude/skills/bt-deep-review/SKILL.md
  .claude/skills/bt-format/SKILL.md
  .claude/skills/bt-pr/SKILL.md
  .claude/skills/bt-preflight/SKILL.md
  .claude/skills/bt-quick-format/SKILL.md
  .claude/skills/bt-review/SKILL.md
  .claude/skills/bt-security-run/SKILL.md
  .claude/skills/bt-spellcheck/SKILL.md
  .claude/skills/perf/SKILL.md
  .claude/skills/test/SKILL.md
  CLAUDE.md
Due: prettier --write

chore(scripts): use pnpm run in preflight and release scripts
  package.json
Due: biome format --write --no-errors-on-unmatched --files-ignore-unknown=true

chore(docs): use pnpm run in contributor and reference docs
  CONTRIBUTING.md
  README.md
  docs/api-assets.md
  docs/bitmap-fonts.md
  docs/developer-experience-guide.md
  docs/performance-testing.md
  docs/security/audit-exceptions.md
  docs/security/dependency-policy.md
  docs/security/security-runbook.md
  docs/software-fallback-smoke-matrix.md
  docs/testing.md
  docs/tooling.md
Due: prettier --write

chore(ci): use pnpm run in github actions workflows
  .github/workflows/ci.yml
  .github/workflows/pr-checks.yml
Due: prettier --write

chore(tooling): add rtk bash hook to claude settings
  .claude/settings.json
Due: biome format --write --no-errors-on-unmatched --files-ignore-unknown=true

chore(tooling): add lint-staged config for format and spellcheck
  package.json
Due: biome format --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(deps): override uuid to resolve moderate nyc advisory
  .npmrc
  package.json
  pnpm-lock.yaml
Due: biome format --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

docs(skills): wrap long line in bt-security-run skill
  .claude/skills/bt-security-run/SKILL.md
Due: prettier --write

chore(tooling): allow bash pre-tool hook to fail without blocking
  .claude/settings.json
Due: biome format --write --no-errors-on-unmatched --files-ignore-unknown=true

chore(ci): expand ignore rules for local AI tooling and MCP configs
  .gitignore
  .npmignore
Due: none

chore(ci): add shared cursor hooks and project rules
  .cursor/hooks.json
  .cursor/hooks/format-and-check.sh
  .cursor/hooks/shell-safety.sh
  .cursor/rules/bt-api-getters.mdc
  .cursor/rules/claude-canonical.mdc
  .cursor/rules/docs-sync-required.mdc
  .cursor/rules/rtk-and-pnpm.mdc
Due: biome format --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(ci): harden cursor hook path and git clean checks
  .cursor/hooks/format-and-check.sh
  .cursor/hooks/shell-safety.sh
Due: none

feat(renderer): add overlay compositing layers on webgpu
  src/render/IRenderer.ts
  src/render/SoftwareRenderer.ts
  src/render/WebGpuRenderer.test.ts
  src/render/WebGpuRenderer.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

docs(renderer): sync webgpu jsdoc for overlay pipelines
  src/render/WebGpuRenderer.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

docs(api): document engine stats overlay
  CLAUDE.md
  README.md
  docs/api-assets.md
  docs/api-core.md
  docs/api-palette.md
  docs/performance-best-practices.md
  docs/software-fallback-smoke-matrix.md
  docs/testing.md
Due: prettier --write

feat(renderer): refine stats overlay bar layout and demo labels
  docs/api-core.md
  docs/testing.md
  src/render/StatsOverlay.test.ts
  src/render/StatsOverlay.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck', prettier --write

feat(renderer): add engine-managed stats overlay
  src/core/BTAPI.test.ts
  src/core/BTAPI.ts
  src/core/IBlitTechDemo.test.ts
  src/core/IBlitTechDemo.ts
  src/render/SoftwareTicker.test.ts
  src/render/SoftwareTicker.ts
  src/render/StatsOverlay.test.ts
  src/render/StatsOverlay.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

perf(renderer): reuse stats overlay geometry and fix README fallback text
  README.md
  src/render/StatsOverlay.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck', prettier --write

feat(api): add statsOverlayRows hook and custom overlay rows
  docs/api-core.md
  src/BlitTech.ts
  src/core/BTAPI.test.ts
  src/core/BTAPI.ts
  src/core/IBlitTechDemo.test.ts
  src/core/IBlitTechDemo.ts
  src/render/StatsOverlay.test.ts
  src/render/StatsOverlay.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck', prettier --write

docs(api): align stats overlay docs with implementation
  docs/api-core.md
  docs/api-palette.md
Due: prettier --write

refactor(renderer): simplify stats overlay to a strict single path
  src/core/BTAPI.test.ts
  src/core/BTAPI.ts
  src/core/IBlitTechDemo.ts
  src/render/StatsOverlay.test.ts
  src/render/StatsOverlay.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

docs(api): sync stats overlay docs with renderer terminology
  docs/api-assets.md
  docs/api-core.md
  docs/api-palette.md
Due: prettier --write

fix(core): centralize stats overlay renderer init error message
  src/core/BTAPI.ts
  src/utils/errorMessages.test.ts
  src/utils/errorMessages.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

refactor(api)!: rename rendering mode API from renderer to backend
  .claude/rules/bt-api-getters.md
  .cursor/rules/bt-api-getters.mdc
  CLAUDE.md
  cspell.json
  docs/api-assets.md
  docs/api-core.md
  docs/post-process-effects.md
  docs/software-fallback-smoke-matrix.md
  docs/testing.md
  src/BlitTech.test.ts
  src/BlitTech.ts
  src/core/BTAPI.test.ts
  src/core/BTAPI.ts
  src/core/IBlitTechDemo.test.ts
  src/core/IBlitTechDemo.ts
  src/render/IRenderer.ts
  src/render/SoftwareRenderer.ts
  src/render/StatsOverlay.test.ts
  src/render/StatsOverlay.ts
  src/utils/errorMessages.test.ts
  src/utils/errorMessages.ts
  tests/visual/camera.spec.ts
  tests/visual/fonts.spec.ts
  tests/visual/mixed.spec.ts
  tests/visual/primitives.spec.ts
  tests/visual/sprites.spec.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck', biome format --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

fix(api): materialize default backend and fix docs typo
  docs/post-process-effects.md
  src/core/IBlitTechDemo.test.ts
  src/core/IBlitTechDemo.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck', prettier --write

fix(api): inherit default backend in explicit display merge
  src/core/IBlitTechDemo.test.ts
  src/core/IBlitTechDemo.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

docs(api): distinguish targetFPS from stats overlay render fps
  docs/api-assets.md
  docs/api-core.md
  docs/performance-best-practices.md
  src/core/IBlitTechDemo.ts
  src/render/StatsOverlay.test.ts
  src/render/StatsOverlay.ts
  src/utils/Timer.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck', prettier --write

feat(api): add BT.requestedBackend and clarify active backend docs
  .cursor/rules/bt-api-getters.mdc
  CLAUDE.md
  docs/api-core.md
  docs/developer-experience-guide.md
  docs/post-process-effects.md
  docs/testing.md
  docs/tooling.md
  scripts/check-declaration-tooling.mjs
  scripts/check-declaration-tooling.test.mjs
  src/BlitTech.test.ts
  src/BlitTech.ts
  src/core/BTAPI.test.ts
  src/core/BTAPI.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck', prettier --write

fix(docs): correct effectAdd examples and scope BT d.ts checks
  docs/api-core.md
  scripts/check-declaration-tooling.mjs
  scripts/check-declaration-tooling.test.mjs
  src/BlitTech.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck', prettier --write

docs(api): unify palette slot, index, and offset terminology
  docs/api-assets.md
  docs/api-palette.md
  docs/api-rendering.md
  docs/palette-guide.md
Due: prettier --write

chore(assets): update system font ampersand glyph bitmap
  assets/system-font.png
  src/assets/fonts/systemFontData.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

docs(api): correct palette offset out-of-range behavior
  docs/api-palette.md
  docs/api-rendering.md
Due: prettier --write

docs(api): add resolution glossary for logical, buffer, and CSS cap
  docs/api-core.md
  docs/post-process-effects.md
Due: prettier --write

fix(renderer): tighten stats overlay bar layout metrics
  src/render/StatsOverlay.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

feat(api): capture frame timing and draw-call stats for overlay
  src/core/BTAPI.test.ts
  src/core/BTAPI.ts
  src/core/IBlitTechDemo.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

Path conditions:
  biome check --write --no-errors-on-unmatched --files-ignore-unknown=true: (any of: *.{ts,tsx}) or (any of: *.{js,cjs,mjs})
  eslint --fix: (any of: *.{ts,tsx}) or (any of: *.{js,cjs,mjs})
  bash -c 'pnpm typecheck': any of: *.{ts,tsx}
  biome format --write --no-errors-on-unmatched --files-ignore-unknown=true: any of: *.{json,jsonc,css}
  prettier --write: any of: *.{md,mdx,yml,yaml}
