Repository vancura/blit-tech: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck', biome format --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore: remove Electron from the project
  .gitignore
  .npmrc
  README.md
  cspell.json
  electron-builder.json
  electron/main.cjs
  electron/preload.cjs
  package.json
  pnpm-lock.yaml
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, biome format --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore(changeset): add the changeset message
  .changeset/modern-aliens-worry.md
Due: prettier --write

style(examples): unify styling with main landing page
  cspell.json
  examples/_partials/font-attribution.hbs
  examples/_partials/layout-bottom.hbs
  examples/_partials/layout-top.hbs
  examples/animation.html
  examples/basics.html
  examples/basics.ts
  examples/camera.html
  examples/fonts.html
  examples/index.html
  examples/patterns.html
  examples/primitives.html
  examples/sprite-effects.html
  examples/sprites.html
  examples/styles.css
  index.html
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck', biome format --write --no-errors-on-unmatched --files-ignore-unknown=true

chore(changeset): add the changeset message
  .changeset/yummy-donkeys-invent.md
Due: prettier --write

chore: fix markup in index.html
  index.html
Due: none

chore(infra): enhance Husky hooks with environment setup and validation
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
Due: none

chore(infra): remove unused configuration for linting and spell-checking
  biome.json
  cspell.json
Due: biome format --write --no-errors-on-unmatched --files-ignore-unknown=true

chore(git): untrack files that match gitignore patterns
  .claude/settings.local.json
  .clauderc
  .cursor/rules/blit-tech.mdc
  .cursor/rules/typescript.mdc
  .cursor/rules/webgpu.mdc
  .rules
Due: biome format --write --no-errors-on-unmatched --files-ignore-unknown=true

chore: standardize "Blit–Tech" branding to "Blit-Tech" across files
  .github/bugbot.yml
  .zed/prompt
  README.md
  docs/bitmap-fonts.md
  docs/developer-experience-guide.md
  docs/performance-best-practices.md
  docs/testing-guide.md
  examples/_config/contexts.ts
  examples/animation.ts
  examples/basics.html
  examples/basics.ts
  examples/camera.ts
  examples/fonts.ts
  examples/index.html
  examples/patterns.ts
  examples/primitives.ts
  examples/sprites.ts
  index.html
  prettier.config.js
  scripts/convert-bmfont.mjs
  src/BlitTech.ts
  src/core/BTAPI.ts
  src/core/IBlitTechGame.ts
  src/render/Renderer.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck', prettier --write

chore(changeset): update the changeset
  .changeset/legal-seas-roll.md
Due: prettier --write

chore: centralize pnpm environment setup in shared script for Husky
  .husky/commit-msg
  .husky/ensure-pnpm.sh
  .husky/pre-commit
  .husky/pre-push
Due: none

chore: enhance fnm detection in ensure-pnpm.sh
  .husky/ensure-pnpm.sh
Due: none

chore: improve PATH handling and add support for Intel Homebrew in ensure-pnpm.sh
  .husky/ensure-pnpm.sh
Due: none

chore: tmp
  .aiassistant/rules/blit-tech.md
  .aiassistant/rules/typescript.md
  .aiassistant/rules/webgpu.md
  .claude/settings.local.json
  .cursor/rules/blit-tech.mdc
  .cursor/rules/typescript.mdc
  .cursor/rules/webgpu.mdc
  .gitignore
  .npmignore
  .rules
  CLAUDE.md
  ai-rules/blit-tech.mdc
  ai-rules/typescript.mdc
  ai-rules/webgpu.mdc
  package.json
  scripts/sync-rules.mjs
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, biome format --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore: add "onuncapturederror" to cspell dictionary
  cspell.json
Due: biome format --write --no-errors-on-unmatched --files-ignore-unknown=true

chore(rules): refactor AI assistant rules to use ai-rules as source of truth
  .aiassistant/rules/blit-tech.md
  .aiassistant/rules/typescript.md
  .aiassistant/rules/webgpu.md
  .claude/settings.local.json
  .cursor/rules/blit-tech.mdc
  .cursor/rules/typescript.mdc
  .cursor/rules/webgpu.mdc
  .rules
  CLAUDE.md
Due: biome format --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore: update spellcheck
  .vscode/settings.json
  cspell.json
Due: biome format --write --no-errors-on-unmatched --files-ignore-unknown=true

chore(changeset): update changeset
  .changeset/moody-chairs-wish.md
Due: prettier --write

docs: update README.md
  README.md
Due: prettier --write

refactor(Renderer): optimize line drawing and update vertex limits
  src/render/Renderer.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

refactor(Renderer): rename temporary vector for clarity
  src/render/Renderer.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

docs(performance): add section on line rendering costs and optimization tips
  docs/performance-best-practices.md
Due: prettier --write

chore(vscode): update settings to enable format on save for multiple languages
  .vscode/settings.json
Due: biome format --write --no-errors-on-unmatched --files-ignore-unknown=true

chore(changeset): update changeset
  .changeset/polite-mice-shine.md
Due: prettier --write

chore(changeset): update changeset
  .changeset/pretty-lemons-flash.md
Due: prettier --write

chore(markdown-link-check): add pattern for angelcode.com links
  .github/markdown-link-check.json
Due: biome format --write --no-errors-on-unmatched --files-ignore-unknown=true

docs(performance): enhance line rendering section with optimization insights
  docs/performance-best-practices.md
Due: prettier --write

chore: remove bugbot config and fix branding and spellcheck texts
  .github/bugbot.yml
  cspell.json
  index.html
Due: biome format --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore(changeset): update changeset
  .changeset/some-banks-say.md
Due: prettier --write

chore(examples): remove examples
  examples/_config/contexts.ts
  examples/_partials/font-attribution.hbs
  examples/_partials/layout-bottom.hbs
  examples/_partials/layout-top.hbs
  examples/_partials/plausible-analytics.hbs
  examples/animation.html
  examples/animation.ts
  examples/basics.html
  examples/basics.ts
  examples/camera.html
  examples/camera.ts
  examples/fonts.html
  examples/fonts.ts
  examples/fonts/PragmataPro14.btfont
  examples/fonts/PragmataProRegular14_0.png
  examples/index.html
  examples/patterns.html
  examples/patterns.ts
  examples/primitives.html
  examples/primitives.ts
  examples/sprite-effects.html
  examples/sprite-effects.ts
  examples/sprites.html
  examples/sprites.ts
  examples/styles.css
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck', biome format --write --no-errors-on-unmatched --files-ignore-unknown=true

chore(ci): remove web deploy and example build jobs
  .github/workflows/ci.yml
  .github/workflows/pr-checks.yml
Due: prettier --write

chore: remove mentions of examples from the repo
  .npmignore
  .prettierignore
  biome.json
  eslint.config.js
  tsconfig.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, biome format --write --no-errors-on-unmatched --files-ignore-unknown=true

chore: remove obsolete index.html file
  index.html
Due: none

build(vite): simplify config for library build
  vite.config.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

docs: update README
  README.md
Due: prettier --write

chore: update packages.json
  package.json
Due: biome format --write --no-errors-on-unmatched --files-ignore-unknown=true

chore: fix the build scripts
  package.json
Due: biome format --write --no-errors-on-unmatched --files-ignore-unknown=true

chore(changeset): update changeset
  .changeset/tasty-turtles-build.md
Due: prettier --write

chore(ci): fix builds
  .github/workflows/ci.yml
  .github/workflows/pr-checks.yml
Due: prettier --write

Path conditions:
  biome check --write --no-errors-on-unmatched --files-ignore-unknown=true: (any of: *.{ts,tsx}) or (any of: *.{js,cjs,mjs})
  eslint --fix: (any of: *.{ts,tsx}) or (any of: *.{js,cjs,mjs})
  bash -c 'pnpm typecheck': any of: *.{ts,tsx}
  biome format --write --no-errors-on-unmatched --files-ignore-unknown=true: any of: *.{json,jsonc,css}
  prettier --write: any of: *.{md,mdx,yml,yaml}
