Repository vancura/blit-tech: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck', biome format --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

docs(assets): clarify reindexize vs palette-value swap in JSDoc
  src/BlitTech.ts
  src/assets/SpriteSheet.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

docs(api): document paletteOffset out-of-range and negative-value behavior
  src/BlitTech.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

docs(assets): correct JSDoc for reindexize and spritesRefresh error behavior
  cspell.json
  src/BlitTech.ts
  src/assets/SpriteSheet.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck', biome format --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(utils): add easing functions
  CLAUDE.md
  README.md
  cspell.json
  docs/testing.md
  src/BlitTech.ts
  src/core/BTAPI.ts
  src/utils/Easing.test.ts
  src/utils/Easing.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck', biome format --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

fix(utils): add exhaustive never check to applyEasing switch
  src/utils/Easing.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

feat(assets): add palette effect system with cycling, fade, flash, and swap
  src/BlitTech.ts
  src/assets/Palette.ts
  src/assets/PaletteEffect.bench.ts
  src/assets/PaletteEffect.test.ts
  src/assets/PaletteEffect.ts
  src/core/BTAPI.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

fix(assets): validate palette effect inputs and reset idle clock
  src/assets/PaletteEffect.ts
  src/core/BTAPI.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

fix(api): clear in-flight palette effects when active palette changes
  src/core/BTAPI.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

fix(api): require active palette before queuing paletteFlash effect
  src/core/BTAPI.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

docs(assets): document palette effects in README, CLAUDE.md, and testing guides
  CLAUDE.md
  README.md
  docs/performance-testing.md
  docs/testing.md
Due: prettier --write

refactor(api): deduplicate sprite sheet validation and font print docs
  src/BlitTech.ts
  src/core/BTAPI.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

test(api): add throw-path coverage for drawSprite and drawBitmapText
  src/core/BTAPI.test.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

fix(api): restore "font sprite sheet" label in drawBitmapText error message
  src/core/BTAPI.test.ts
  src/core/BTAPI.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

test(api): verify requireIndexizedSheet registers sheets for refresh tracking
  src/core/BTAPI.test.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

feat(assets): add system font PNG export and conversion scripts
  assets/system-font.png
  package.json
  pnpm-lock.yaml
  scripts/convert-system-font.mjs
  scripts/export-system-font.mjs
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, biome format --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

refactor(assets): change system font grid from 8x8 to 6x14
  README.md
  scripts/convert-system-font.mjs
  scripts/export-system-font.mjs
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, prettier --write

chore(assets): update system font
  assets/system-font.png
Due: none

docs(assets): fix stale 8x8 dimension references in docs and scripts
  README.md
  scripts/convert-system-font.mjs
  scripts/export-system-font.mjs
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, prettier --write

feat(assets): add built-in 6x14 system font for BT.systemPrint()
  scripts/convert-system-font.mjs
  src/BlitTech.test.ts
  src/BlitTech.ts
  src/assets/BitmapFont.test.ts
  src/assets/BitmapFont.ts
  src/assets/SpriteSheet.test.ts
  src/assets/SpriteSheet.ts
  src/assets/SystemFont.bench.ts
  src/assets/SystemFont.test.ts
  src/assets/SystemFont.ts
  src/assets/fonts/systemFontData.ts
  src/core/BTAPI.test.ts
  src/core/BTAPI.ts
  src/render/PrimitivePipeline.test.ts
  src/render/PrimitivePipeline.ts
  src/render/Renderer.test.ts
  src/render/Renderer.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

docs(assets): document system font usage and editing workflow
  README.md
  docs/bitmap-fonts.md
Due: prettier --write

fix(assets): harden system font and sprite sheet validation
  scripts/convert-system-font.mjs
  src/assets/SpriteSheet.test.ts
  src/assets/SpriteSheet.ts
  src/assets/SystemFont.test.ts
  src/assets/SystemFont.ts
  src/assets/fonts/systemFontData.ts
  src/core/BTAPI.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

test(assets): assert r8uint format in fromIndexedPixels texture test
  src/assets/SpriteSheet.test.ts
  src/assets/SystemFont.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

feat(utils): add browser detection and per-browser WebGPU error guidance
  cspell.json
  src/utils/Bootstrap.ts
  src/utils/BootstrapHelpers.test.ts
  src/utils/BootstrapHelpers.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck', biome format --write --no-errors-on-unmatched --files-ignore-unknown=true

chore: replace non-null assertions with optional chaining in tests
  biome.json
  src/render/Renderer.test.ts
  src/utils/FrameCapture.test.ts
  src/utils/Rect2i.test.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck', biome format --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(utils): guard navigator.userAgent access in WebGPU error log
  src/utils/Bootstrap.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

fix(utils): replace HTML entity &rarr; with Unicode arrow in Safari instructions
  src/utils/BootstrapHelpers.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

chore(deps-dev): bump dev dependencies to latest minor/patch versions
  biome.json
  package.json
  pnpm-lock.yaml
Due: biome format --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

refactor(utils): extract WebGPU version thresholds and URLs into named constants
  src/utils/BootstrapHelpers.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

fix(utils): harden navigator.userAgent access and qualify download URLs
  src/utils/BootstrapHelpers.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

docs: update WebGPU browser compatibility versions in README and dev guide
  README.md
  docs/developer-experience-guide.md
Due: prettier --write

feat(utils): add previewWebGPUErrors dev utility for inspecting error variants
  src/BlitTech.ts
  src/utils/BootstrapHelpers.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

fix(utils): improve WebGPU error messages with per-browser step-by-step guidance
  src/utils/Bootstrap.ts
  src/utils/BootstrapHelpers.test.ts
  src/utils/BootstrapHelpers.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

fix(utils): correct four review findings in error messages and dev utility
  README.md
  src/utils/BootstrapHelpers.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck', prettier --write

fix(utils): harden previewWebGPUErrors and fix fallback Safari version
  src/utils/BootstrapHelpers.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

feat(assets): add SpriteSheet.loadColorsIntoPalette for auto-registering PNG colors
  src/assets/SpriteSheet.test.ts
  src/assets/SpriteSheet.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

fix(assets): validate SpriteSheet.loadColorsIntoPalette range up front for atomic writes
  src/assets/SpriteSheet.test.ts
  src/assets/SpriteSheet.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

chore(ci): upgrade eslint plugins to latest major versions
  package.json
  pnpm-lock.yaml
Due: biome format --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore(ci): upgrade cspell 9→10 and knip 5→6
  cspell.json
  knip.json
  package.json
  pnpm-lock.yaml
Due: biome format --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore(ci): upgrade eslint and @eslint/js 9→10
  package.json
  pnpm-lock.yaml
  src/utils/Bootstrap.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck', biome format --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

Path conditions:
  biome check --write --no-errors-on-unmatched --files-ignore-unknown=true: (any of: *.{ts,tsx}) or (any of: *.{js,cjs,mjs})
  eslint --fix: (any of: *.{ts,tsx}) or (any of: *.{js,cjs,mjs})
  bash -c 'pnpm typecheck': any of: *.{ts,tsx}
  biome format --write --no-errors-on-unmatched --files-ignore-unknown=true: any of: *.{json,jsonc,css}
  prettier --write: any of: *.{md,mdx,yml,yaml}
