Repository vancura/blit-tech: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck', biome format --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "biome check --write --no-errors-on-unmatched --files-ignore-unknown=true",
    "eslint --fix",
    "bash -c 'pnpm typecheck'"
  ],
  "*.{js,cjs,mjs}": ["biome check --write --no-errors-on-unmatched --files-ignore-unknown=true", "eslint --fix"],
  "*.{json,jsonc,css}": ["biome format --write --no-errors-on-unmatched --files-ignore-unknown=true"],
  "*.{md,mdx,yml,yaml}": ["prettier --write"]
}

chore: fix the examples production build
  vite.config.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

chore: fix the formatting
  scripts/sync-rules.mjs
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix

feat: add Uberspace auto-deployment
  .github/workflows/ci.yml
  .github/workflows/deploy-uberspace.yml
  .github/workflows/deploy.yml
Due: prettier --write

feat: add Cloudflare Pages wrangler configuration
  wrangler.jsonc
Due: biome format --write --no-errors-on-unmatched --files-ignore-unknown=true

docs: update README.md
  README.md
Due: prettier --write

chore: remove Uberspace integration
  .github/workflows/deploy-uberspace.yml
Due: prettier --write

chore(examples): implement Plausible Analytics tracking
  examples/_partials/layout-top.hbs
  examples/index.html
Due: none

chore(examples): extract Plausible analytics to shared code
  examples/_partials/layout-top.hbs
  examples/_partials/plausible-analytics.hbs
  examples/index.html
Due: none

refactor(tools): move `convert-bmfont.mjs` to `scripts` and update npm script location
  docs/bitmap-fonts.md
  package.json
  scripts/convert-bmfont.mjs
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, biome format --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

docs(developer): add Developer Experience Guide
  docs/bitmap-fonts.md
  docs/developer-experience-guide.md
  docs/testing-guide.md
Due: prettier --write

docs: update bitmap fonts guide to reflect script location changes
  docs/bitmap-fonts.md
Due: prettier --write

docs: refine formatting in Developer and Testing Guides
  docs/developer-experience-guide.md
  docs/testing-guide.md
Due: prettier --write

feat(settings): expand allowed CLI commands with `grep` and `cat`
  .claude/settings.local.json
Due: biome format --write --no-errors-on-unmatched --files-ignore-unknown=true

docs: update developer and testing guides, refine examples
  README.md
  docs/developer-experience-guide.md
  docs/testing-guide.md
Due: prettier --write

docs: refine and standardize documentation across multiple files
  README.md
  docs/bitmap-fonts.md
  docs/developer-experience-guide.md
  docs/testing-guide.md
  examples/animation.ts
  examples/basics.ts
  examples/camera.ts
  examples/fonts.ts
  examples/patterns.ts
  examples/primitives.ts
  examples/sprite-effects.ts
  examples/sprites.ts
  src/assets/AssetLoader.ts
  src/assets/BitmapFont.ts
  src/assets/SpriteSheet.ts
  src/core/BTAPI.ts
  src/core/IBlitTechGame.ts
  src/render/Renderer.ts
  src/utils/Color32.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck', prettier --write

docs: update documentation
  electron/main.cjs
  electron/preload.cjs
  examples/_partials/plausible-analytics.hbs
  examples/animation.ts
  examples/basics.ts
  examples/camera.ts
  examples/fonts.ts
  examples/patterns.ts
  examples/primitives.ts
  examples/sprite-effects.ts
  examples/sprites.ts
  scripts/convert-bmfont.mjs
  scripts/sync-rules.mjs
  src/BlitTech.ts
  src/assets/SpriteSheet.ts
  src/core/BTAPI.ts
  src/render/Renderer.ts
  src/utils/Rect2i.ts
  src/utils/Vector2i.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

docs: update markup
  examples/animation.html
  examples/basics.html
  examples/basics.ts
  examples/camera.html
  examples/fonts.html
  examples/index.html
  examples/primitives.html
  examples/sprite-effects.html
  examples/sprites.html
  scripts/convert-bmfont.mjs
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

chore: add inspection adjustments
  examples/animation.ts
  examples/basics.ts
  examples/camera.ts
  examples/fonts.ts
  examples/patterns.ts
  examples/primitives.ts
  examples/sprite-effects.ts
  examples/sprites.ts
  src/BlitTech.ts
  src/assets/BitmapFont.ts
  src/assets/SpriteSheet.ts
  src/core/BTAPI.ts
  src/core/IBlitTechGame.ts
  src/render/Renderer.ts
  src/utils/Color32.ts
  src/utils/Rect2i.ts
  src/utils/Vector2i.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

chore: fix wrapping
  examples/animation.ts
  examples/camera.ts
  examples/fonts.ts
  examples/patterns.ts
  examples/primitives.ts
  examples/sprite-effects.ts
  examples/sprites.ts
  src/core/BTAPI.ts
  src/render/Renderer.ts
  src/utils/Color32.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

docs: update documentation
  src/BlitTech.ts
  src/utils/Rect2i.ts
  src/utils/Vector2i.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'
