Repository vancura/blit-tech: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck', biome format --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "biome check --write --no-errors-on-unmatched --files-ignore-unknown=true",
    "eslint --fix",
    "bash -c 'pnpm typecheck'"
  ],
  "*.{js,cjs,mjs}": ["biome check --write --no-errors-on-unmatched --files-ignore-unknown=true", "eslint --fix"],
  "*.{json,jsonc,css}": ["biome format --write --no-errors-on-unmatched --files-ignore-unknown=true"],
  "*.{md,mdx,yml,yaml}": ["prettier --write"]
}

docs(readme): document published npm quick start for 1.0.0
  README.md
Due: prettier --write

docs(docs): reposition project messaging around palette-first rendering
  CLAUDE.md
  README.md
  docs/api-assets.md
  docs/api-core.md
  docs/api-palette.md
  docs/api-rendering.md
  docs/palette-guide.md
  docs/palette-presets.md
  docs/software-fallback-smoke-matrix.md
  docs/testing.md
  package.json
Due: biome format --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

docs(testing): reconcile ci docs with actual workflows
  docs/testing.md
Due: prettier --write

docs: align node >=22.18.0 across docs and ci
  .claude/skills/preflight/SKILL.md
  .github/workflows/ci.yml
  .github/workflows/pr-checks.yml
  CONTRIBUTING.md
  README.md
  docs/developer-experience-guide.md
Due: prettier --write

docs(security): update supported versions policy for 1.x
  SECURITY.md
Due: prettier --write

feat(api): export fullscreen effect bases for npm consumers
  docs/post-process-effects.md
  src/BlitTech.ts
  src/docs/consumer-doc-imports.test.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck', prettier --write

chore(release): prepare 1.0.1 docs split for npm consumers
  README.md
  docs/developer-experience-guide.md
  package.json
Due: biome format --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore(ci): ignore npm package links and sync btapi patch version
  .github/markdown-link-check.json
  src/core/BTAPI.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck', biome format --write --no-errors-on-unmatched --files-ignore-unknown=true

chore: bump to 1.0.2
  package.json
Due: biome format --write --no-errors-on-unmatched --files-ignore-unknown=true

chore: update package URL
  package.json
Due: biome format --write --no-errors-on-unmatched --files-ignore-unknown=true

chore(release): release 1.0.3
  package.json
  src/core/BTAPI.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck', biome format --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(utils): extract canvas layout CSS properties into CanvasLayoutStyles
  src/core/BTAPI.test.ts
  src/core/BTAPI.ts
  src/core/IBlitTechDemo.test.ts
  src/core/IBlitTechDemo.ts
  src/core/WebGPUContext.test.ts
  src/core/WebGPUContext.ts
  src/render/SoftwareRenderer.ts
  src/utils/CanvasLayoutStyles.test.ts
  src/utils/CanvasLayoutStyles.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

chore: upgrade biome from 2.4.13 to 2.4.15
  biome.json
  package.json
Due: biome format --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(api): convert BT namespace accessors to ES getters
  .claude/rules/bt-api-getters.md
  .claude/skills/review/SKILL.md
  CLAUDE.md
  README.md
  docs/api-core.md
  docs/api-palette.md
  docs/bitmap-fonts.md
  docs/developer-experience-guide.md
  docs/input.md
  docs/performance-best-practices.md
  docs/software-fallback-smoke-matrix.md
  src/BlitTech.test.ts
  src/BlitTech.ts
  src/input/KeyboardInput.ts
  src/render/effects/display/Interference.ts
  src/render/effects/display/RollLine.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck', prettier --write

fix(utils): clear stale canvas inline styles and sync lockfile
  pnpm-lock.yaml
  src/core/IBlitTechDemo.ts
  src/utils/CanvasLayoutStyles.test.ts
  src/utils/CanvasLayoutStyles.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck', prettier --write

test(api): add clone-per-read contract tests for BT snapshot getters
  docs/api-core.md
  src/BlitTech.test.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck', prettier --write

chore(ci): add pnpm 10 supply-chain hardening
  .npmrc
  package.json
Due: biome format --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(ci): replace ignoredBuiltDependencies with allowBuilds for esbuild
  package.json
Due: biome format --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(utils): validate and cap render configuration dimensions before allocation
  docs/api-core.md
  src/core/BTAPI.test.ts
  src/core/BTAPI.ts
  src/core/IBlitTechDemo.ts
  src/core/WebGPUContext.ts
  src/utils/RenderLimits.test.ts
  src/utils/RenderLimits.ts
  src/utils/errorMessages.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck', prettier --write

docs(api): document maxTextureDimension2D limit on HardwareSettings dimension fields
  src/core/IBlitTechDemo.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

feat(assets): cap sprite and bitmap font asset dimensions
  docs/api-assets.md
  src/assets/AssetLoader.test.ts
  src/assets/AssetLoader.ts
  src/assets/BitmapFont.test.ts
  src/assets/BitmapFont.ts
  src/assets/SpriteSheet.test.ts
  src/assets/SpriteSheet.ts
  src/render/SoftwareRenderer.test.ts
  src/render/SoftwareRenderer.ts
  src/utils/AssetLimits.test.ts
  src/utils/AssetLimits.ts
  src/utils/errorMessages.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck', prettier --write

fix(assets): sanitize btfont metadata and test partial sprite clips
  src/assets/BitmapFont.test.ts
  src/assets/BitmapFont.ts
  src/render/SoftwareRenderer.test.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

ci(ci): pin third-party actions to commit SHAs and explicit permissions
  .github/workflows/ci.yml
Due: prettier --write

docs: add security limits utils to CLAUDE.md architecture map
  CLAUDE.md
Due: prettier --write

feat: release 1.0.4
  package.json
  src/core/BTAPI.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck', biome format --write --no-errors-on-unmatched --files-ignore-unknown=true

chore: add claude launch config for demos dev server
  .claude/launch.json
Due: biome format --write --no-errors-on-unmatched --files-ignore-unknown=true

chore: fix claude launch config with node type and integrated terminal
  .claude/launch.json
Due: biome format --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(examples): use partial configure() in basics demo
  docs/api-core.md
  docs/post-process-effects.md
  src/BlitTech.ts
  src/core/BTAPI.test.ts
  src/core/BTAPI.ts
  src/core/IBlitTechDemo.test.ts
  src/core/IBlitTechDemo.ts
  src/utils/CanvasLayoutStyles.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck', prettier --write

feat(security): add mcp preflight and deterministic security-run workflow
  .claude/skills/deep-review/SKILL.md
  .claude/skills/security-run/SKILL.md
  .gitignore
  cspell.json
  docs/developer-experience-guide.md
  docs/security/security-runbook.md
  package.json
  scripts/security/fixtures/governance/runlayer.mcp.json
  scripts/security/fixtures/governance/shadow.mcp.json
  scripts/security/fixtures/mcps/auth-server/STATUS.md
  scripts/security/fixtures/mcps/auth-server/tools/mcp_auth.json
  scripts/security/fixtures/mcps/errored-server/STATUS.md
  scripts/security/fixtures/mcps/healthy-server/STATUS.md
  scripts/security/fixtures/mcps/healthy-server/tools/scan.json
  scripts/security/mcp-preflight.mjs
  scripts/security/mcp-preflight.test.mjs
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, biome format --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

fix(security): harden mcp preflight and use portable runbook paths
  docs/security/security-runbook.md
  scripts/security/mcp-preflight.mjs
  scripts/security/mcp-preflight.test.mjs
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, prettier --write

docs(security): use portable blit-tech-root path in runbook
  docs/security/security-runbook.md
Due: prettier --write

ci(security): add continuous dependency audit gate (VV-519)
  .github/ISSUE_TEMPLATE/security-risk-acceptance.yml
  .github/workflows/ci.yml
  .npmrc
  CLAUDE.md
  cspell.json
  docs/developer-experience-guide.md
  docs/security/audit-exceptions.md
  docs/security/dependency-policy.md
  docs/security/security-runbook.md
  package.json
  pnpm-lock.yaml
  scripts/security/mcp-preflight.mjs
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, biome format --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

fix(security): run audit on every pr and bound override ranges
  .github/workflows/ci.yml
  package.json
  pnpm-lock.yaml
Due: biome format --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

fix(security): remediate brace-expansion and ws dev CVEs (VV-524)
  package.json
  pnpm-lock.yaml
Due: biome format --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

docs(security): document solo-maintainer incident triage (VV-517)
  docs/security/dependency-policy.md
  docs/security/security-runbook.md
Due: prettier --write

docs(security): clarify runbook triage and VV-522 fallback wording
  docs/security/security-runbook.md
Due: prettier --write

docs(security): document ci action sha pinning and publish provenance
  docs/developer-experience-guide.md
  docs/security/dependency-policy.md
Due: prettier --write

feat(assets): tighten btfont embedded texture policy and pre-decode validation
  docs/api-assets.md
  docs/bitmap-fonts.md
  src/assets/BitmapFont.test.ts
  src/assets/BitmapFont.ts
  src/assets/SpriteSheet.test.ts
  src/render/SoftwareRenderer.test.ts
  src/utils/AssetLimits.test.ts
  src/utils/AssetLimits.ts
  src/utils/errorMessages.test.ts
  src/utils/errorMessages.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck', prettier --write

test(core): expand render dimension limit coverage for VV-513
  docs/api-core.md
  src/core/BTAPI.test.ts
  src/core/WebGPUContext.test.ts
  src/utils/RenderLimits.test.ts
  src/utils/errorMessages.test.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck', prettier --write
