Repository vancura/blit-tech: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck', biome format --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

refactor(api): rename HardwareSettings overlay flags to isOverlay* names
  src/BlitTech.ts
  src/core/BTAPI.test.ts
  src/core/BTAPI.ts
  src/core/IBlitTechDemo.test.ts
  src/core/IBlitTechDemo.ts
  src/overlay/Overlay.test.ts
  src/overlay/Overlay.ts
  src/overlay/OverlayToggleIcon.test.ts
  src/overlay/OverlayToggleIcon.ts
  src/overlay/bars/Bars.ts
  src/overlay/index.ts
  src/overlay/input/Toggle.ts
  src/overlay/layout/layoutPlan.test.ts
  src/overlay/layout/layoutPlan.ts
  src/overlay/layout/types.ts
  src/overlay/palette/PaletteInteraction.ts
  src/overlay/palette/PaletteView.ts
  src/overlay/timing-chart/TimingChart.ts
  src/overlay/timing-chart/style.test.ts
  src/overlay/timing-chart/style.ts
  src/overlay/toggleIconData.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

refactor(input): rename GamepadInput snapshot connected to isConnected
  src/input/GamepadInput.test.ts
  src/input/GamepadInput.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

refactor(utils): rename bootstrap options to canvasID and isWaitingForDOMReady
  src/utils/Bootstrap.test.ts
  src/utils/Bootstrap.ts
  src/utils/BootstrapHelpers.ts
  src/utils/errorMessages.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

refactor(utils): rename Rect2i.intersectionTo to intersectTo
  src/utils/Rect2i.test.ts
  src/utils/Rect2i.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

refactor(renderer): rename WebGpuRenderer boolean locals to is* form
  src/render/WebGpuRenderer.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

docs: document boolean naming tiers and renamed public API names
  .claude/rules/bt-api-getters.md
  .cursor/rules/bt-api-getters.mdc
  CLAUDE.md
  README.md
  docs/api-assets.md
  docs/api-core.md
  docs/developer-experience-guide.md
  docs/input.md
  docs/performance-best-practices.md
  docs/performance-testing.md
  docs/post-process-effects.md
  docs/software-fallback-smoke-matrix.md
  docs/voice.md
Due: prettier --write

fix(overlay): clamp timing chart grid line checks to band interior
  src/overlay/OverlayToggleIcon.ts
  src/overlay/timing-chart/style.test.ts
  src/overlay/timing-chart/style.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

docs: align embedded-is examples with current key input names
  CLAUDE.md
  docs/developer-experience-guide.md
Due: prettier --write

docs: document internal scoped naming for non-public symbols
  .claude/rules/bt-api-getters.md
  .claude/rules/internal-scoped-naming.md
  .claude/skills/bt-deep-review/SKILL.md
  .claude/skills/bt-review/SKILL.md
  .cursor/rules/bt-api-getters.mdc
  .cursor/rules/claude-canonical.mdc
  .cursor/rules/internal-scoped-naming.mdc
  CLAUDE.md
  docs/developer-experience-guide.md
Due: prettier --write

refactor(renderer): standardize post-process wgsl constant names
  src/render/effects/FullscreenEffect.ts
  src/render/effects/FullscreenPixelEffect.ts
  src/render/effects/display/BarrelDistortion.ts
  src/render/effects/display/Bloom.ts
  src/render/effects/display/ChromaticAberration.ts
  src/render/effects/display/Flicker.ts
  src/render/effects/display/Interference.ts
  src/render/effects/display/Noise.ts
  src/render/effects/display/RGBMask.ts
  src/render/effects/display/RollLine.ts
  src/render/effects/display/Scanlines.ts
  src/render/effects/display/Vignette.ts
  src/render/effects/fullscreenVS.ts
  src/render/effects/pixel/PixelGlitch.ts
  src/render/effects/pixel/PixelMosaic.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

docs: sync overlay palette grid and testing docs with renamed helpers
  docs/api-core.md
  docs/testing.md
Due: prettier --write

refactor(api): add dated deprecation aliases for renamed public apis
  docs/deprecations.md
  docs/developer-experience-guide.md
  src/BlitTech.ts
  src/assets/SpriteSheet.ts
  src/core/IBlitTechDemo.ts
  src/utils/Bootstrap.ts
  src/utils/Color32.ts
  src/utils/Rect2i.ts
  src/utils/Timer.ts
  src/utils/Vector2i.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck', prettier --write

docs(api): document current framecapture internal method flow
  docs/api-rendering.md
Due: prettier --write

refactor(api): restore deprecated aliases for renamed helper exports
  src/core/RenderPaletteUsage.ts
  src/overlay/palette/PaletteView.ts
  src/utils/AssetLimits.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

test(overlay): add handleToggle compatibility forwarding coverage
  src/overlay/input/Toggle.test.ts
  src/overlay/input/Toggle.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

ci(knip): ignore deprecated compatibility aliases in knip checks
  knip.json
Due: biome format --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(overlay): add dated deprecation aliases for toggle icon helpers
  src/overlay/OverlayToggleIcon.ts
  src/overlay/index.ts
  src/overlay/input/Toggle.test.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

fix(ci): ignore github security advisory urls in link checker
  .github/markdown-link-check.json
Due: biome format --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(overlay): add deprecated alias for shouldDrawTimingChartGridLineY
  knip.json
  src/overlay/index.ts
  src/overlay/timing-chart/style.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck', biome format --write --no-errors-on-unmatched --files-ignore-unknown=true

chore(ci): add Zed agent skills infrastructure
  .agents/skills/bt-deep-review
  .agents/skills/bt-format
  .agents/skills/bt-perf
  .agents/skills/bt-pr
  .agents/skills/bt-preflight
  .agents/skills/bt-quick-format
  .agents/skills/bt-release
  .agents/skills/bt-review
  .agents/skills/bt-security-run
  .agents/skills/bt-spellcheck
  .agents/skills/bt-test
  .claude/skills/bt-deep-review/SKILL.md
  .claude/skills/bt-format/SKILL.md
  .claude/skills/bt-perf/SKILL.md
  .claude/skills/bt-pr/SKILL.md
  .claude/skills/bt-preflight/SKILL.md
  .claude/skills/bt-quick-format/SKILL.md
  .claude/skills/bt-release/SKILL.md
  .claude/skills/bt-review/SKILL.md
  .claude/skills/bt-security-run/SKILL.md
  .claude/skills/bt-spellcheck/SKILL.md
  .claude/skills/bt-test/SKILL.md
  .claude/skills/release/SKILL.md
  CLAUDE.md
Due: prettier --write

chore(ci): clean up editor configs and track Zed settings
  .claude/launch.json
  .gitignore
  .vscode/extensions.json
  .vscode/settings.json
  .zed/settings.json
  CLAUDE.md
Due: biome format --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore(ci): extend prettier coverage to .mdc cursor rule files
  .prettierignore
  package.json
  prettier.config.js
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, biome format --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(ci): prevent shell metacharacter injection in zed git allow-pattern
  .zed/settings.json
Due: biome format --write --no-errors-on-unmatched --files-ignore-unknown=true

chore(ci): sync .mdc coverage in lint-staged and bt-format skill docs
  .claude/skills/bt-format/SKILL.md
  package.json
Due: biome format --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore(ci): format newly prettier-covered .md and .mdc rule files
  .claude/rules/bt-api-getters.md
  .claude/skills/bt-deep-review/SKILL.md
  .claude/skills/bt-perf/SKILL.md
  .claude/skills/bt-security-run/SKILL.md
  .cursor/rules/bt-api-getters.mdc
  .cursor/rules/claude-canonical.mdc
  .cursor/rules/docs-sync-required.mdc
  .cursor/rules/internal-scoped-naming.mdc
Due: prettier --write

docs(ci): fix hyphenation of perf-labeled in bt-perf skill
  .claude/skills/bt-perf/SKILL.md
Due: prettier --write

chore(tests): suppress duplicated code warnings in visual test specs
  tests/visual/camera.spec.ts
  tests/visual/coverage-fixture.ts
  tests/visual/fonts.spec.ts
  tests/visual/mixed.spec.ts
  tests/visual/post-process.spec.ts
  tests/visual/primitives.spec.ts
  tests/visual/sprites.spec.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

chore(tests): refactor palette constants and suppress unused warnings in visual test fixtures
  tests/visual/fixtures/camera.html
  tests/visual/fixtures/fonts.html
  tests/visual/fixtures/mixed.html
  tests/visual/fixtures/post-process.html
  tests/visual/fixtures/primitives.html
  tests/visual/fixtures/sprites.html
Due: none

chore(tests): replace hardcoded palette key with colorWhite constant in visual test fixtures
  tests/visual/fixtures/camera.html
  tests/visual/fixtures/primitives.html
Due: none

chore(tests): refactor WebGPU mock and global test setup
  src/__test__/setup.ts
  src/__test__/webgpu-mock.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

refactor(assets): extract helpers and name constants across asset files
  src/assets/AssetLoader.ts
  src/assets/BitmapFont.ts
  src/assets/Palette.ts
  src/assets/PaletteEffect.ts
  src/assets/SpriteSheet.ts
  src/assets/SystemFont.ts
  src/assets/palettes/presetData.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

perf(assets): hoist IMAGE_EXTENSIONS set to module scope in AssetLoader
  src/assets/AssetLoader.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

chore(tests): collapse single-sentence JSDoc blocks to one-liners
  src/__test__/setup.ts
  src/__test__/webgpu-mock.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

fix(utils): export clampUnit from Color32 to unblock CI typecheck
  src/utils/Color32.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

refactor(assets): use single return in AssetLoader.buildExtensionHint
  src/assets/AssetLoader.test.ts
  src/assets/AssetLoader.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

refactor(assets): streamline BitmapFont control flow and JSON validation
  src/assets/BitmapFont.bench.ts
  src/assets/BitmapFont.test.ts
  src/assets/BitmapFont.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

refactor(assets): simplify Palette.fromJSON and set control flow
  src/assets/Palette.test.ts
  src/assets/Palette.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

fix(assets): coerce invalid .btfont name to Unknown
  src/assets/BitmapFont.test.ts
  src/assets/BitmapFont.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

refactor(assets): streamline PaletteEffect control flow and tests
  src/assets/PaletteEffect.test.ts
  src/assets/PaletteEffect.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, eslint --fix, bash -c 'pnpm typecheck'

Path conditions:
  biome check --write --no-errors-on-unmatched --files-ignore-unknown=true: (any of: *.{ts,tsx}) or (any of: *.{js,cjs,mjs})
  eslint --fix: (any of: *.{ts,tsx}) or (any of: *.{js,cjs,mjs})
  bash -c 'pnpm typecheck': any of: *.{ts,tsx}
  biome format --write --no-errors-on-unmatched --files-ignore-unknown=true: any of: *.{json,jsonc,css}
  prettier --write: any of: *.{md,mdx,yml,yaml}
